<div class="volume-slider j_volume_slider">
	<div class="title">50%</div>
	<div class="slider-wrap jx-slider-container">
		<div class="progress jx-progress"></div>
		<div class="knob jx-knob"></div>
	</div>
</div>
<div class="rate-wrap">
	<div class="item-wrap">
		<div class="rate-selected">1.0 X</div>
	    <div class="rate-select-wrap item-select-wrap">
	        <ul>
	        <li data-rate="0.5">0.5 X</li>
	        <li data-rate="0.75">0.75 X</li>
	        <li data-rate="1.0">1.0 X</li>
	        <li data-rate="1.25">1.25 X</li>
	        <li data-rate="1.5">1.5 X</li>
	        <li data-rate="1.75">1.75 X</li>
	        <li data-rate="2.0">2.0 X</li>

	        </ul>
	    </div>
	</div>
</div>
<div class="jx-controls">
	<div class="jx-controlbar">
		<div class="item-wrap mrg-r22">
			<div class="jx-flash-hd-wrap ">
				<div class="hd-selected">高清</div>
				<div class="item-select-wrap jx-hd-select-wrap hd-select-wrap">
					<ul>
						<!-- <li>自动</li> -->
						<li  data-value="s">标清（480P）</li>
						<li class="active" data-value="h">高清（720P）</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="item-wrap">
			<div class="provider-switch-wrap ">

				<div>
					<i title="切换播放器" class="icon i-set"></i>

				</div>
				<div class="provider-select-wrap item-select-wrap">
					<div>默认播放器</div>
			        <ul>
			        <li class="active mrg-r22" data-type='0'>HTML5</li><li data-type='1'>FLASH</li>
			        </ul>
			    </div>
			</div>
		</div>
		<!-- <div class="jx-btn-fullbrowser">网页全屏</div> -->
		<!-- <div>1.25X</div> -->
	</div>
</div>
<div class="period-state-wrap">
	<div class="state-wrap">
		<div class="txt-state"><i class="icon i-gray-tick"></i>已学习</div>
		<div class="state-title-wrap">课时标记</div>
	</div>
</div>
<div class="next-period-wrap">
	<i class="icon i-next"></i>
</div>