<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta property="qc:admins" content="3742272215633144221475636"/>
	<meta property="wb:webmaster" content="7a8f5a3007d75f75"/>
	<meta name="renderer" content="webkit">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>实战冲刺班</title>
	<meta name="keywords" content="极视教育,职业教育,在线教育平台,在线教育,在线学习,职业培训,android,ios,Unity3D,java,Photoshop,Maya,3D MAX,独立游戏">
	<meta itemprop="name" content="实战冲刺班"/>
	<meta itemprop="image" content="/view/smallClassPublicity/img/logo.jpg" />
	<meta name="description" itemprop="description" content="Unity3D、VR游戏开发工程师，4个月小白变大神" />
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"> -->
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- <link rel="stylesheet" href="css/normalize.css"> -->

	<link rel="stylesheet" href="/view/smallClassPublicity/css/main.css">
	<link rel="stylesheet" href="/view/smallClassPublicity/css/index.css">
	<link rel="stylesheet" href="/view/smallClassPublicity/css/animate.css">
	<div id='wx_pic' style='margin:0 auto;display:none;'>
		<img src='/view/smallClassPublicity/img/pic300.jpg' />
	</div>
</head>

<body >


<!-- =========================
     NAVIGATION LINKS
============================== -->
<div class="navbar top-fixed" >
	<div class="container">
		<!-- navbar header -->
		<div class="navbar-header">
			<a href="/" class="navbar-brand">
				<img src="/view/smallClassPublicity/img/logo.png">
			</a>
		</div>
		<ul class="navbar-nav">
			<li class="active"><a href="#intro" class="smoothScroll">首页</a></li>
			<li class=""><a href="#advantage" class="smoothScroll">极视优势</a></li>
			<li class=""><a href="#prospect" class="smoothScroll">行业前景</a></li>
			<li class=""><a href="#service" class="smoothScroll">课程服务</a></li>
			<li class=""><a href="#teacher" class="smoothScroll">实战名师</a></li>
			<li><a href="#studentsComment " class="smoothScroll">学员点评</a></li>
			<li><a href="#contact" class="smoothScroll">联系我们</a></li>
		</ul>
	</div>
</div>

<section id="intro" >
	<div class="container">
		<div class="wow intro-img fadeInDown  animated"  style=" animation-name: fadeInDown;">
			<img src="/view/smallClassPublicity/img/img1-2.png">
		</div>
		<div class="wow btn fadeInUp  animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
			<a href="http://www.skillbridge.cn/view/zytp/detail.html?id=04b43be6e29949df9105a6d559552ba8" class="btn1">立即报名</a>
			<a  class="btn2  j_btn_qq" href="javascript:;" >立即咨询
				<span>（获取500元优惠）</span>
			</a>
		</div>
	</div>
</section>

<section id="advantage">
	<div class="container">
		<div class="top-tit wow bounceInDown animated "  style="visibility: visible; animation-name: bounceInDown;">极视优势</div>
		<div class="cnt-tit">教育优势</div>
		<ul class="jyys clearfix">
			<li class="wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"><i class="i1"></i><span>行业内最完整最细致的UNITY入门课程体系</span></li>
			<li class="wow fadeInUp animated" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;"><i class="i2"></i><span>各大游戏公司合作资源，学完立即推荐就业</span></li>
			<li class="wow fadeInUp animated" data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;"><i class="i3"></i><span>强大师资教学辅导团队助你成为技术大牛</span></li>
		</ul>
		<div class="cnt-tit">服务优势</div>
		<div class="fwys clearfix">
			<div class="wow fwys-box left fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
				<img src="/view/smallClassPublicity/img/fwys1.png">
			</div>
			<div class="wow fwys-box right fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
				<img src="/view/smallClassPublicity/img/fwys2.png">
			</div>
		</div>

	</div>
</section>

<section id="prospect">
	<div class="container">
		<div class="top-tit1 wow bounceInDown animated "  style="visibility: visible; animation-name: bounceInDown;">行业前景</div>
		<ul class="hyqj clearfix">
			<li class="wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><img src="/view/smallClassPublicity/img/hyqj1.png"></li>
			<li class="wow fadeInUp animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;"><img src="/view/smallClassPublicity/img/hyqj2.png"></li>
			<li class="wow fadeInUp animated" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeInUp;"><img src="/view/smallClassPublicity/img/hyqj3.png"></li>
		</ul>
		<a href="javascript:;" class="wow btn fadeInUp  animated j_btn_qq" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">更多行业前景咨询</a>

	</div>
</section>

<section id="service">
	<div class="container">
		<div  class="top-tit1 wow bounceInDown animated "  style="visibility: visible; animation-name: bounceInDown;">课程服务</div>
		<div class="kcfw clearfix">
			<div class="kcfw-box1 left">
				<div  class="kcfw-box-tit1 wow flash animated "  style="visibility: visible; animation-name: flash;">课程介绍</div>
				<div class="kcfw-box-cnt wow fadeInRight animated "  style="visibility: visible;  animation-name: fadeInRight;">Unity是由Unity Technologies开发<br/>
					的一个让玩家轻松创建诸如三维视频游戏、<br/>
					建筑可视化、实时三维动画等类型互动内容的<br/>
					多平台的综合型游戏开发工具，是一个<br/>
					全面整合的专业游戏引擎。<br/>
					本门课程将由极视教育Unity3D、VR课程金<br/>
					牌讲师单鑫、陈荣宝等业界大咖详细讲解<br/>
					Unity3D的前世今生，按照Unity3D整个路径<br/>
					学习，并提供答疑、作业批改等服务。
					<h4>课程目标</h4>
					Unity初学者学习完本课程后可以完整掌握<br/>
					Unity3D的基本知识，开启小白到大神之路。<br/>
					<h4>授课模式</h4>
					视频录播课 + 在线直播课
				</div>
			</div>
			<div class="kcfw-box2 right">
				<div  class="kcfw-box-tit2 wow flash animated "  style="visibility: visible; animation-name: flash;">课程设置</div>
				<div  class="kcfw-box-cnt wow fadeInLeft animated " data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
					<img src="/view/smallClassPublicity/img/kcfw.png">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="kcgk">
	<div class="kcgk-img">
		<p>课程关卡</p>
		<img src="/view/smallClassPublicity/img/kcgk.png">
	</div>
</section>

<section class="fwys-tab">
	<div class="container">
		<p>课程关卡</p>
		<div  class="wow bounceInDown animated fwys-tab-img"  style="visibility: visible; animation-name: bounceInDown;">
			<img src="/view/smallClassPublicity/img/fwys-tab.png">
		</div>
		<a href="javascript:;"  class="wow btn fadeInUp  animated j_btn_qq" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;" >更多行业前景咨询</a>
	</div>
</section>

<section id="teacher">
	<div class="container">
		<div  class="top-tit wow bounceInDown animated "  style="visibility: visible; animation-name: bounceInDown;">实战名师</div>
		<div class="teacher-list-wrapper">
			<ul class="clearfix">
				<li  class=" wow fadeInRight animated "  style="visibility: visible;  animation-name: fadeInRight;">
					<div class="img-wrap about"><img src="/view/smallClassPublicity/img/t1.png"></div>
					<div class=" name-wrap">单鑫</div>
					<div class="mrg-b12">神古网络创始人、独立游戏制作人，精通VR游戏开发</div>
					<p>独立游戏《灵魂之门》、《失落之寒》、《巴别塔：抉择》制作人
						微软创新杯2013年中国区一等奖、2014年中国区特等奖
						2014年Unity游戏及应用大赛最佳创新创意奖
						第六届CGDA（中国优秀游戏制作人）最佳创意奖</p>
				</li>
				<li  class=" wow fadeInUp animated " data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
					<div class="img-wrap about"><img src="/view/smallClassPublicity/img/t2.png"></div>
					<div class=" name-wrap">陈荣宝</div>
					<div class="mrg-b12">前盛大高级游戏工程师，10余年Unity开发经验</div>
					<p>参与《奇迹归来》、《神仙传》、《热血篮球》，《沙巴克传奇》等众多项目开发，精通C、C++、C#、Java等语言，熟悉计算机图形学，DirectX，数据结构、游戏引擎的开发。</p>
				</li>
				<li  class=" wow fadeInDown animated " data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInDown;">
					<div class="img-wrap about"><img src="/view/smallClassPublicity/img/t3.png"></div>
					<div class=" name-wrap">Jackie</div>
					<div class="mrg-b12">游戏开发主程，精通C、C#、C++等多种编程语言</div>
					<p>多年游戏行业知名企业工作经验，熟悉Unity的游戏开发流程，曾参与《唤剑幻想》魔兽风ARPG手游、《我是谢文东》混合类弹珠卡牌手游等众多项目开发，主要负责使用NGUI搭建UI界面以及实用C#实现UI逻辑。</p>
				</li>
				<li  class=" wow fadeInLeft animated " data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInLeft;">
					<div class="img-wrap about"><img src="/view/smallClassPublicity/img/t4.png"></div>
					<div class="tc name-wrap">GAO</div>
					<div class="mrg-b12">EA （Electronic Arts）资深软件工程师， 10余年大型游戏开发经验</div>
					<p>曾参与知名游戏《极品飞车》、《植物大战僵尸》开发</p>
				</li>
			</ul>
		</div>

		<div class="teacher-works">
			<p>老师作品</p>
			<div  class=" wow bounceIn animated "  style="visibility: visible; animation-name: bounceIn;">
				<img src="/view/smallClassPublicity/img/works.png">
			</div>
		</div>
	</div>
</section>

<section id="studentsComment">
	<div class="container clearfix">
		<div class="top-tit1 wow bounceInDown animated "  style="visibility: visible; animation-name: bounceInDown;">学员好评</div>
		<div class="mxxy-intro-box">
			<div class="mxxy-intro triangle1  zoomIn animated " data-wow-delay="0.4s" style="display: block; animation-delay: 0.4s;" >
				<p class="j_mxxy_intro">还有一年就毕业了，现在面临找工作的难题。家里从事互联网行业的亲戚建议我学习Unity3D开发，说这个职业现在普遍薪资水平较高。偶然的机会，通过朋友知道了
					极视教育，说这个在线学习网站上有很资深的Unity3D讲师。现在我已经开始入门，并通过极视教育联系上了单鑫老师，他给了我很多职业规划上和学习上的建议。非
					常感谢极视教育，让我毕业前不再迷茫！<br>
					<span>—— 塔娜 </span>
				</p>
			</div>
			<div class="mxxy-intro triangle2  zoomIn animated" >
				<p class="j_mxxy_intro">现在找工作没有一技之长真的好难，但是我跟着单鑫老师学习了Unity3D之后，居然还给我推荐了工作，而且还是一家非常知名的公司，这真是太让我意外了。我要好好学习，我相信不久的将来，我将升职加薪，当上总经理，出任CEO，迎娶白富美，走上人生巅峰。
					<br>
					<span>—— 小醒 </span>
				</p>
			</div>
			<div class="mxxy-intro triangle3  zoomIn animated">
				<p class="j_mxxy_intro">我热爱游戏，爱挑战，有幸跟随陈荣宝老师进行Unity3D的学习，我接受了老师专业的指导和职业发展的建议，并且老师还用自己的资源帮助我寻找工作，真的是太棒了！
					<br>
					<span>—— Marco </span>
				</p>
			</div>
		</div>
		<ul id="j_mxxy_list_wrap" class="mxxy-list-wrap">
			 <li class="mxxy-item opacity">
               <img src="/view/smallClassPublicity/img/2.jpg"/>
            </li>
			<li class="mxxy-item ">
				<img src="/view/smallClassPublicity/img/1.jpg"/>
			</li>
			<li class="mxxy-item ">
				<img src="/view/smallClassPublicity/img/3.jpg"/>
			</li>
		</ul>
	</div>

	<div id="contact" class="clearfix">
		<div class="qq left">
			<img src="/view/smallClassPublicity/img/i-qq.png"/>
			<a class="btn j_btn_qq"href="javascript:;"  >立即咨询</a>
		</div>
		<div class="tel right">
			<img src="/view/smallClassPublicity/img/i-tel.png"/>
			<input type="tel" class="j_tel" placeholder="请输入您的电话号" />
			<a class="btn j_btn_call">免费咨询</a>
		</div>
	</div>
</section>

<!-- Back top -->
<a href="#back-top" class="go-top" style="display: block;"><i class="fa fa-angle-up"></i></a>


<script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
<script>
	BizQQWPA.addCustom({
		aty: '0',
		nameAccount: '800187260',
		selector: 'Js_QQWPA'
	});

</script>
<ul class=" box-fix" id="j_marketing_overlays">
	<li class="item qq ">
		<div class="qq-wrap j_qq_wrap" id="Js_QQWPA">
			<!--<iframe src="" style="display: none;"></iframe>-->
		</div>
	</li>
	<li  class="item tel ">
		<div  class="zytp-index box-shadow">
			<div class="zytp-top">
				<p class="font-sz16">免费在线咨询</p>
				<p>021-51134006</p>
			</div>
			<div class="zytp-tel">
				<div class="zytp-tel-box">
					<input type="tel" class="j_tel" placeholder="请输入您的电话号" />
					<div class="tel-box-hint">
						<p>请输入正确的号码，手机号码请直接输入，座机请加区号</p>
					</div>
				</div>

				<a class="zytp-btn j_btn_call">免费通话咨询</a>

			</div>
		</div>
	</li>

</ul>



<!-- top star -->
<div style="display:none;" id="rocket-to-top">
	<div style="opacity:0;display:block;" class="level-2"></div>
	<div class="level-3"></div>
</div>
<!-- top end -->



<script charset="utf-8" type="text/javascript" src="/view/smallClassPublicity/js/jquery.js"></script>
<script charset="utf-8" type="text/javascript" src="/view/smallClassPublicity/js/lrtk.js"></script>
<script charset="utf-8" type="text/javascript" src="/view/smallClassPublicity/js/wow.min.js"></script>
<script charset="utf-8" type="text/javascript" src="/view/smallClassPublicity/js/index.js"></script>

</body></html>