<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>课程介绍</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../css/main.css">
	<link rel="stylesheet" href="../../css/lesson/lessonintro.css">
</head>
<body>
<div include="../module/header.html"></div>
<div class="banner">
    <div class="warpper"><h2>课程介绍</h2>
    <div class="crumbs"><a href="#">首页</a>  >  <a href="#">寻找课程</a>  >  <a href="#">IT/互联网</a>  >  <a href="#">移动开发</a>  >  IOS</div>
    </div>
</div>
<div class="lsintro">
	<div class="warpper">
    	<div class="videobox"></div>
        <div class="introbox">
        	<h3>Scrum敏捷开发培训</h3>
            <ul><li class="times"><i></i><span>20小时</span></li><li class="types"><i></i><span>免费</span></li><li class="ks" style="margin:0"><i></i><span>60课时</span></li></ul>
            <div class="intro_wd">     敏捷开发是一种适合10小团队的开发模式，它比瀑布流
开发更灵活，比迭代开模式，它比瀑布流开发更灵活，比迭
代开发更高效。</div>
            <div class="dzbox"><span class="zan"><i></i>（<b>0</b>）</span><span class="learn"><i></i>（<b>0</b>人学习）</span><a class="addplan" href="javascript:void(0);">加入计划</a><a style="display:none" class="rmoveplan" href="javascript:void(0);">取消计划</a></div>
        </div>
    </div>
</div>
<div class="progressbar" style="display:none">
	<div class="warpper">
		<div class="progress"><span><i style="width:0%"></i></span><a href="#">开始学习</a></div>
		<div class="progress_wd"><span>目前已完成 0 个课时，继续努力，贵在坚持!</span>
        <span class="nextls">下一个课时:IOS数据类型详解</span>
        </div>
    </div>
</div>
<div class="introinfo clearfix">
	<div class="warpper">
    	<div class="introinfo_main">
         <div class="introinfo_tab">
          <a id="catlog" class="on" href="javascript:void(0);">目录</a><a id="wiki" href="javascript:void(0);">wiki</a><a id="comment" href="javascript:void(0);">评论</a><a id="comment2" href="javascript:void(0);">没评论</a>
         </div>
         <div class="introinfo_content">
          <div class="catlog">
          	<ul>
            <li class="zj"><i></i><span class="mul">章节1</span><span class="title">IOS应用程序、程序结构与程序生命周期</span></li>
            <li class="ks"><span class="mul">课时1</span><span class="title">IOS应用程序、程序结构与程序生命S应用程序、程序结构与程序生命周期</span><span class="radio choosed"></span><span class="k_time"><i class=""></i>17:56</span><a class="" href="#"></a></li>
            <li class="ks"><span class="mul">课时1</span><span class="title">IOS应用程序、程序结构与程序生命周期</span><span class="radio"></span><span class="k_time"><i></i>17:56</span><a class="" href="#"></a></li>
            <li class="ks"><span class="mul">课时1</span><span class="title">IOS应用程序、程序结构与程序生命周期</span><span class="radio"></span><span class="k_time"><i></i>17:56</span><a class="" href="#"></a></li>
            <li class="ks"><span class="mul">课时1</span><span class="title">IOS应用程序、程序结构与程序生命周期</span><span class="radio"></span><span class="k_time"><i></i>17:56</span><a class="" href="#"></a></li>
            
            <li class="zj"><i></i><span class="mul">章节1</span><span class="title">IOS应用程序、程序结构与程序生命周期</span></li>
            <li class="ks"><span class="mul">课时1</span><span class="title">IOS应用程序、程序结构与程序生命周期</span><span class="radio"></span><span class="k_time"><i></i>17:56</span><a class="vipbtn" href="#"></a></li>
            <li class="ks"><span class="mul">课时1</span><span class="title">IOS应用程序、程序结构与程序生命周期</span><span class="radio"></span><span class="k_time"><i></i>17:56</span><a class="vipbtn" href="#"></a></li>
            <li class="ks"><span class="mul">课时1</span><span class="title">IOS应用程序、程序结构与程序生命周期</span><span class="radio"></span><span class="k_time"><i></i>17:56</span><a class="vipbtn" href="#"></a></li>
            <li class="ks"><span class="mul">课时1</span><span class="title">IOS应用程序、程序结构与程序生命周期</span><span class="radio"></span><span class="k_time"><i></i>17:56</span><a class="vipbtn" href="#"></a></li>
            </ul>
          </div>
          <div class="wiki" style="display:none">
          	<ul>
            	<li class="gray"><span>iOS 9人机界面指南</span>iOS 9 人机界面指南翻译的内容为 iPhoneHIG 的设计规范，旨在帮助交互设计师和应用开发者了解苹果应用设计规范， 
设计 iPhone 应用程序的用户界面，了解那些用于创建 iPhone 应用程序的用户界面的元素，同时还描述了各种可用的视
图和控件并提 供了如何有效使用它们的说明。</li>
				<li><span>iOS 9人机界面指南</span>iOS 9 人机界面指南翻译的内容为 iPhoneHIG 的设计规范，旨在帮助交互设计师和应用开发者了解苹果应用设计规范， 
设计 iPhone 应用程序的用户界面，了解那些用于创建 iPhone 应用程序的用户界面的元素，同时还描述了各种可用的视
图和控件并提 供了如何有效使用它们的说明。</li>
            	<li class="gray"><span>iOS 9人机界面指南</span>iOS 9 人机界面指南翻译的内容为 iPhoneHIG 的设计规范，旨在帮助交互设计师和应用开发者了解苹果应用设计规范， 
设计 iPhone 应用程序的用户界面，了解那些用于创建 iPhone 应用程序的用户界面的元素，同时还描述了各种可用的视
图和控件并提 供了如何有效使用它们的说明。</li>
				<li><span>iOS 9人机界面指南</span>iOS 9 人机界面指南翻译的内容为 iPhoneHIG 的设计规范，旨在帮助交互设计师和应用开发者了解苹果应用设计规范， 
设计 iPhone 应用程序的用户界面，了解那些用于创建 iPhone 应用程序的用户界面的元素，同时还描述了各种可用的视
图和控件并提 供了如何有效使用它们的说明。</li>
            </ul>
          </div>
          <div class="comment" style="display:none">
          	<ul>
            	<li>
                <img src="../../img/vip/menpic.jpg"/>
                <div class="comment_item">
                <div class="comment_cap"><i></i><span>呀呀呀</span> 2016-01-13&nbsp;&nbsp;&nbsp;&nbsp;16:20:45</div>
                <span class="comment_con">除非导航设计不合理，不然用户应该明显察觉不到应用中的导航体验。导航设计应该能够支撑你应用结构和目的却又不分散用户注意力。 广义来说，</span>
                </div><div class="clear"></div>
                </li>
                <li>
                <img src="../../img/vip/menpic.jpg"/>
                <div class="comment_item">
                <div class="comment_cap"><i></i><span>呀呀呀</span> 2016-01-13&nbsp;&nbsp;&nbsp;&nbsp;16:20:45</div>
                <span class="comment_con">除非导航设计不合理，不然用户应该明显察觉不到应用中的导航体验。导航设计应该能够支撑你应用结构和目的却又不分散用户注意力。 广义来说，</span>
                </div><div class="clear"></div>
                </li>
            </ul>
            
          </div>
          <div class="comment2" style="display:none">
          	<span class="nols"></span>
          </div>
         </div>
        </div>
        <div class="introinfo_site">
         <div class="teainfo">
         	<div class="tea_caption">
            <span class="js">讲师信息</span><span class="jg" style=" display:none">机构信息</span><a class="arr_l" href="javascript:void(0);"></a><a class="arr_r" href="javascript:void(0);"></a>
            </div>
            <div class="tea_content">
              <ul class="">
               <li>
            	<img src="../../img/vip/menpic.jpg"/>
    			<p class="name">讲师欧阳</p>
                <div class="info">
                原苏州蜗牛数字科技股份有限公司 <九阴真经>
 游戏策划师，汇众动漫学院策划老师<br>
——  学习没有捷径，贵在坚持！
                </div>
               </li>
               <li>
            	<img src="../../img/vip/menpic.jpg"/>
    			<p class="name">机构欧阳程平2</p>
                <div class="info">
                原苏州蜗牛数字科技股份有限公司 <九阴真经>
 游戏策划师，汇众动漫州蜗牛数字科技股份有限公司 <九阴真经>
 游戏策划师，汇众动漫学院策划老师<br>
——  学习没有捷径，贵在坚持学院策划老师<br>
——  学习没有捷径，贵在坚持！
                </div>
               </li>
              </ul>
            </div>
         </div>
         <div class="teanote">
         	<div class="tea_caption">
            讲师提示
            </div>
            <div class="tea_content">
            	<img src="../../img/vip/menpic.jpg"/>
    			<p class="name">欧阳程平1</p>
                <span class="title">游戏策划老师</span>
                <div class="noteinfo">
                <div class="noteinfo_main">对方公司的规定发给对方好好好推荐用途及体
交换机和空间卡里罗对方公司的规定发给对方好好好推荐用途及体
交换机和空间卡里罗
				</div>
                </div>
            </div>
         </div>
        </div>
        
	</div>
</div>



<div include="../module/footer.html"></div>
</body>
<script src="../../js/vendor/jquery-1.9.0.min.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/lesson/lessonintro.js"></script>


</html>
