<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>课程介绍</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../css/main.css">
	<link rel="stylesheet" href="../../css/lesson/lessonintroNew.css">
</head>
<body>
<div include="../module/header.html"></div>
<div class="banner">
    <div class="warpper">
    <div class="crumbs"><!--a href="#">首页</a>  >  <a href="#">寻找课程</a>  >  <a href="#">IT/互联网</a>  >  <a href="#">移动开发</a>  >  IOS--></div>
    </div>
</div>
<div class="lsintro">
	<div class="warpper">    	
        <div class="introbox">
        &nbsp;
        <!--h3>测试课程</h3>
        <div class="kwlist"><ul><li>基础语言</li><li>初级</li></ul><span><a class="sc" href="#"><i></i><b>1456</b></a><a class="fx" href="#"><i></i>1456</a></span></div>
        <div class="intro_wd">自Unity4.6版本开始至今，Unity中新的UGUI系统已经相当成熟，其在功能和易用性上一点也不逊于NGUI（Unity上一款流行的第三方UI插件）。使用最新的UGUI可以方便快速地建立UI界面。本门课程讲解了UGUI功能的实际操作，学员能更容易理解。
</div>
        <ul class="infolist"><li class="learn"><i></i><span>66668</span><b></b></li><li class="zan"><i></i><span>1111</span><b></b></li><li class="ks"><i></i><span>0课时</span><b></b></li><li class="times"><i></i><span>1小时</span></li></ul>
        
        <div class="dzbox1"><span class="types">免费</span><a data-jr="1" href="javascript:void(0);" class="addplan jr0">加入学习</a><a href="javascript:void(0);" class="rmoveplan" style="display:none" title="取消学习"></a></div-->
        </div>
        <div class="videobox"></div>
        <div class="clear"></div>
    </div>
</div>

<div class="introinfo clearfix">
	<div class="warpper">
    	<div class="introinfo_main">
         <div class="progressbar" style="display:none">            
            <div class="progress"><span><i style="width:10%"><b class="pronum">10%</b></i></span></div>
            <div class="progress_wd"><span>目前已完成 <b>0</b> 个课时，继续努力，贵在坚持!</span>
            <span class="nextls">下一个课时:<a target="_blank" href="#"><i>IOS数据类型详解</i></a></span>
            </div>            
         </div>
         <div class="courbagbar clearfix" style="display:none">    
            <h4 class="titlebox"><i></i>所属课程组合</h4>
            <div class="courbagcon">
            <div class="lessonbar">
                <div class="lessonimg-box img-hover-bigger">
                    <a href="" target="_blank">
                        <img src="../../img/lessonintro/qy.jpg" class="lessonimg">
                    </a>

                    <div class="lesson-class">
                        <span>9</span><br>课程<br>
                        <i></i>
                    </div>
                </div>
                <div class="lesson-infor">
                    <h2 class="lesson-info-h2"><a href="" target="_blank">LeMaker Guitar 官方 LeMuntu 系统体验</a></h2>
                    
                </div>
            </div>
            <div class="lessonbar">
                <div class="lessonimg-box img-hover-bigger">
                    <a href="" target="_blank">
                        <img src="../../img/lessonintro/qy.jpg" class="lessonimg">
                    </a>

                   
                </div>
                <div class="lesson-infor">
                    <h2 class="lesson-info-h2"><a href="" target="_blank">LeMaker Guitar 官方 LeMuntu 系统体验</a></h2>
                    
                </div>
            </div>
            </div>
         </div>
         <div class="introinfo_tab">
          <a id="wiki" href="javascript:void(0);" class="on">课程简介</a><a id="catlog" href="javascript:void(0);">课程目录</a><a id="downld" href="javascript:void(0);">资料下载</a><a id="comment" href="javascript:void(0);">课程评论</a>
         </div>
         <div class="introinfo_content">
          <div class="catlog" style="display:none">
          	<ul>
            
            <li class="ks"><span class="mul">课时1</span><span class="title">IOS应用程序、程序结构与程序生命S应用程序、程序结构与程序生命周期</span><span class="radio choosed"></span><span class="k_time"><i class=""></i>17:56</span><a class="" href="#"></a></li>
            <li class="ks"><span class="mul">课时1</span><span class="title">IOS应用程序、程序结构与程序生命周期</span><span class="radio"></span><span class="k_time"><i></i>17:56</span><a class="" href="#"></a></li>
            <li class="ks"><span class="mul">课时1</span><span class="title">IOS应用程序、程序结构与程序生命周期</span><span class="radio"></span><span class="k_time"><i></i>17:56</span><a class="" href="#"></a></li>
            <li class="ks"><span class="mul">课时1</span><span class="title">IOS应用程序、程序结构与程序生命周期</span><span class="radio"></span><span class="k_time"><i></i>17:56</span><a class="" href="#"></a></li>
            
            
            </ul>
          </div>
          <div class="wiki">
          	
          </div>
          <div class="comment" style="display:none">
          	<div class="com_form">
            <textarea id="commentitem" name="" placeholder="请输入评论"></textarea>
            <span>可输入<i>200</i>个字符</span><a class="addcomment" href="javascript:;">发表评论</a>
            </div>
            <div class="plnub"><i>201</i>条评论</div>
          	<ul>
            	<li>
                <img src="../../img/vip/menpic.jpg"/>
                <div class="comment_item">
                <div class="comment_cap"><span>呀呀呀</span><i class="v">vip</i><i class="j">精</i></div>
                <span class="comment_con">除非导航设计不合理，不然用户应该明显察觉不到应用中的导航体验。导航设计应该能够支撑你应用结构和目的却又不分散用户注意力。 广义来说，</span>
                <span class="commif">源自：<i>课时1</i><i>Java简介</i><i>两个月前</i></span>
                <div class="cback">
                	<img src="../../img/lessonintro/tx.png"/>
                    <div class="comment_item comment_item2">
                    <div class="comment_cap"><span>呀呀呀</span></div>
                    <span class="comment_con">除非导航设计不合理，不然用户应该明显察觉不到应用中的导航体验。导航设计应该能够支撑你应用结构和目的却又不分散用户注意力。 广义来说，</span>
                    </div>
                </div>
                </div><div class="clear"></div>
                </li>
                
            </ul>
            <div class="pagination page-control"></div>
          </div>
          <div class="downld" style="display:none">
          	<ul>
            <li>
            <i class="dicon"></i><span class="dname">Java基础语法工程文件集合</span><span class="dif">1MB</span><a href="#"><i></i>下载</a>
            </li>
            
            </ul>
          </div>
         </div>
         <div class="courbagbar clearfix">    
            <h4 class="titlebox"><i></i>相关课程</h4>
            <div class="courbagcon">
            <ul class="aboutles">
            <li>
                <div class="lessonimg-box img-hover-bigger">
                    <a href="" target="_blank">
                        <img src="../../img/lessonintro/qy.jpg" class="lessonimg">
                    </a>
                </div>
                <div class="lesson-infor">
                    <h2 class="lesson-info-h2"><a href="" target="_blank">LeMaker Guitar 官方 LeMuntu 系统体验</a></h2>

                    <div class="lesson-info">
                        <div class="">
                            <i class="renshu-icon"></i> <em>8000</em>
                        </div>
                        <div class="clearfix">
                            <span class="free">免费</span>
                            <span class="f-r">初级</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="lessonimg-box img-hover-bigger">
                    <a href="" target="_blank">
                        <img src="../../img/lessonintro/qy.jpg" class="lessonimg">
                    </a>
                </div>
                <div class="lesson-infor">
                    <h2 class="lesson-info-h2"><a href="" target="_blank">LeMaker Guitar 官方 LeMuntu 系统体验</a></h2>

                    <div class="lesson-info">
                        <div class="">
                            <i class="renshu-icon"></i> <em>8000</em>
                        </div>
                        <div class="clearfix">
                            <span class="free">免费</span>
                            <span class="f-r">初级</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="lessonimg-box img-hover-bigger">
                    <a href="" target="_blank">
                        <img src="../../img/lessonintro/qy.jpg" class="lessonimg">
                    </a>
                </div>
                <div class="lesson-infor">
                    <h2 class="lesson-info-h2"><a href="" target="_blank">LeMaker Guitar 官方 LeMuntu 系统体验</a></h2>

                    <div class="lesson-info">
                        <div class="">
                            <i class="renshu-icon"></i> <em>8000</em>
                        </div>
                        <div class="clearfix">
                            <span class="free">免费</span>
                            <span class="f-r">初级</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="lessonimg-box img-hover-bigger">
                    <a href="" target="_blank">
                        <img src="../../img/lessonintro/qy.jpg" class="lessonimg">
                    </a>
                </div>
                <div class="lesson-infor">
                    <h2 class="lesson-info-h2"><a href="" target="_blank">LeMaker Guitar 官方 LeMuntu 系统体验</a></h2>

                    <div class="lesson-info">
                        <div class="">
                            <i class="renshu-icon"></i> <em>8000</em>
                        </div>
                        <div class="clearfix">
                            <span class="free">免费</span>
                            <span class="f-r">初级</span>
                        </div>
                    </div>
                </div>
            </li>
            </ul>
            </div>
         </div>
        </div>
        <div class="introinfo_site">
         <div class="teainfo">
            <h4 class="titlebox"><i></i>授课讲师</h4>
            <div class="tea_content teacherbox">          
            	<!--img src="../../img/vip/menpic.jpg"/>
    			<p class="name">讲师欧阳</p>
                <div class="info">
                原苏州蜗牛数字科技股份有限公司 
 游戏策划师，汇众动漫学院策划老师<br>
——  学习没有捷径，贵在坚持！
                </div-->
              
            </div>
            <div class="institutebox">
    			<!--p class="instit">机构信息</p>
                <div class="insinfo">
                <p class="insname">上海映动数码学院</p>
                原苏州蜗牛数字科技股份有限公司
 游戏策划师，汇众动漫学院策划老师<br>
——  学习没有捷径，贵在坚持！
                </div-->
              
            </div>
         </div>
         <div class="teanote" style="display:none">
         	<h4 class="titlebox"><i></i>推荐职位</h4>
            <div class="tea_content">
            	<ul>
                <li>
    			<a href="#" class="name">Unity初级工程</a>
                <div class="clearfix"><span class="time">2016-09-20</span><span class="area"><i></i>上海</span></div>
                </li>
                <li>
    			<a href="#" class="name">Unity初级工程</a>
                <div class="clearfix"><span class="time">2016-09-20</span><span class="area"><i></i>上海</span></div>
                </li>
                <li>
    			<a href="#" class="name">Unity初级工程</a>
                <div class="clearfix"><span class="time">2016-09-20</span><span class="area"><i></i>上海</span></div>
                </li>
                <li>
    			<a href="#" class="name">Unity初级工程</a>
                <div class="clearfix"><span class="time">2016-09-20</span><span class="area"><i></i>上海</span></div>
                </li>
                <li>
    			<a href="#" class="name">Unity初级工程</a>
                <div class="clearfix"><span class="time">2016-09-20</span><span class="area"><i></i>上海</span></div>
                </li>
                </ul>
                <span class="j-more"><a href="" target="_blank">更多机遇<i class="icn"></i></a></span>
            </div>
         </div>
        </div>
        
	</div>
</div>

<div class="tk_dl" id="tk_dl1" style="display:none">
    <div class="loginbg"></div>
    <div class="tk_box tdbox">
        <h3><i class="iconfont tkcls1">&#xe604;</i>付费通知</h3>
        <div class="tk_main">
        <p>该课程为会员专属课程，您可以通过开通VIP的方式进行观看~</p>
        <div class="tk_wd">        
        <a href="/view/vip/vipintro.html">查看更多VIP权益</a>
        </div>
        <div class="tk_btn"><a style="margin-left:100px" href="/view/vip/memberbuy.html" id="" class="hot" target="_blank">开通VIP</a></div>
        </div>
    </div>
</div>
<div class="tk_dl" id="tk_dl2" style="display:none">
    <div class="loginbg"></div>
    <div class="tk_box tdbox">
        <h3><i class="iconfont tkcls2">&#xe604;</i>付费通知</h3>
        <div class="tk_main">        
        <div class="tk_wd"><p>该课程为付费课程，您可以通过购买该
门单课的方式进行观看~</p>        
        <span class="yel">价格：￥<i class="courseprc">68</i>元</span>
        </div>
        <div class="tk_btn"><a href="javascript:" class="courbtn" target="_blank">购买课程</a></div>
        </div>
    </div>
</div>
<div class="tk_dl" id="tk_dl3" style="display:none">
    <div class="loginbg"></div>
    <div class="tk_box tdbox">
        <h3><i class="iconfont tkcls3">&#xe604;</i>付费通知</h3>
        <div class="tk_main">
        <p>该课程价格￥<i class="courseprc">68</i>元，您可以通过购买该门单课
或开通VIP的方式进行观看~</p>
        <div class="tk_wd">        
        <a href="/view/vip/vipintro.html">查看更多VIP权益</a>
        </div>
        <div class="tk_btn"><a href="javascript:" class="courbtn" target="_blank">购买课程</a><a href="/view/vip/memberbuy.html" id="" class="hot" target="_blank">开通VIP<i></i></a></div>
        </div>
    </div>
</div>

<div include="../module/footer.html"></div>
</body>
<script src="../../js/vendor/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/common/jquery.page.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/lesson/lessonintroNew.js"></script>
<script src="../../js/jquery.timeago.js" type="text/javascript"></script>

</html>
