<!DOCTYPE html><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>寻找机遇_人才储备 招聘_极视教育网</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/xzjy/joblist.css">
</head>
<body>
<div include="../module/header.html"></div>
<div class="banner">
    <div class="warpper"><h2>工作机遇</h2>
    <h3>你的游戏梦，从这里开始</h3>
    </div>
</div>
<div class="jobbar clearfix">
	<div class="warpper">
    	<div class="jobbar_main">
         <div class="jobbar_tab">
          	<span class="jobnum">共为您找到 <i>0</i> 个职位</span>
            <div class="textbar" id="incomebox">
            <div class="clkarea"><input readonly id="income" name="" type="text" value="月薪范围不限" ><i></i></div>
            <span class="option"><!--a href="javascript:;" data-shcode="0">月薪范围不限</a>
            <a href="javascript:;" data-shcode="1">2000元以内</a>
            <a href="javascript:;" data-shcode="2">2000-4999元</a>
            <a href="javascript:;" data-shcode="3">5000-9999元</a>
            <a href="javascript:;" data-shcode="4">10000-14999元</a>
            <a href="javascript:;" data-shcode="5">15000-29999元</a>
            <a href="javascript:;" data-shcode="6">30000元以上</a-->
            </span>
            </div>
            <div class="textbar" id="createDatebox">
            <div class="clkarea"><input readonly id="createDate" name="" type="text" value="发布时间不限"><i></i></div>
            <span class="option">
            <!--a href="javascript:;" data-shcode="0">发布时间不限</a>
            <a href="javascript:;" data-shcode="1">1天内发布</a>
            <a href="javascript:;" data-shcode="2">3天内发布</a>
            <a href="javascript:;" data-shcode="3">1周内发布</a>
            <a href="javascript:;" data-shcode="4">1个月内发布</a--></span>
            </div>
            <div class="textbar" id="industrybox">
            <div class="clkarea"><input readonly id="industry" name="" type="text" value="行业不限" ><i></i></div>
            <span class="option">
            
            </span>
            </div>
         </div>
         <div class="jobbar_content">
          	<ul>
            	<!--li class="clearfix">
                	<span class="com_img"><img src="../../img/index/logo.png" alt=""></span>
                	<div class="jobinfo">
                    <div class="jobtitle"><a href="#">移动社交网站助理</a><span class="sx">实习</span></div>
                    <span class="ico company"><i></i>宁波极视文化科技有限公司</span>
                    <span class="ico address"><i></i>上海－浦东新区</span>
                    <span class="ico price"><i></i>¥2000-4000</span>
                    </div>
                </li>
                <li class="clearfix">
                	<span class="com_img"><img src="../../img/index/logo.png" alt=""></span>
                	<div class="jobinfo">
                    <div class="jobtitle"><a href="#">移动社交网站助理</a><span class="qz">全职</span></div>
                    <span class="ico company"><i></i>宁波极视文化科技有限公司</span>
                    <span class="ico address"><i></i>上海－浦东新区</span>
                    <span class="ico price"><i></i>¥2000-4000</span>
                    </div>
                </li>
                <li class="clearfix">
                	<span class="com_img"><img src="../../img/index/logo.png" alt=""></span>
                	<div class="jobinfo">
                    <div class="jobtitle"><a href="#">移动社交网站助理</a><span class="zy">自由</span></div>
                    <span class="ico company"><i></i>宁波极视文化科技有限公司</span>
                    <span class="ico address"><i></i>上海－浦东新区</span>
                    <span class="ico price"><i></i>¥2000-4000</span>
                    </div>
                </li>
                <li class="clearfix">
                	<span class="com_img"><img src="../../img/index/logo.png" alt=""></span>
                	<div class="jobinfo">
                    <div class="jobtitle"><a href="#">移动社交网站助理</a><span class="jz">兼职</span></div>
                    <span class="ico company"><i></i>宁波极视文化科技有限公司</span>
                    <span class="ico address"><i></i>上海－浦东新区</span>
                    <span class="ico price"><i></i>¥2000-4000</span>
                    </div>
                </li>-->
            </ul>
            <div class="pagination page-control">
            	<!--span>
                  <a aria-label="Previous" href="#">
                    <span aria-hidden="true">«</span>
                  </a>
                </span>
                <span class="disabled">
                  <a aria-label="Previous" href="#">
                    <span aria-hidden="true">«</span>
                  </a>
                </span>
                <span class="active"><a href="#">1</a></span>
                <span><a href="#">2</a></span>
                <span><a href="#">3</a></span>
                <span><a href="#">4</a></span>
                <span><a href="#">5</a></span>
                <span>
                  <a aria-label="Next" href="#">
                    <span aria-hidden="true">»</span>
                  </a>
                </span-->
              </div>
         </div>
        </div>
        <div class="jobbar_site">
        	<h4>地区</h4>
            <div class="sitebar areabar"><i class="icon"></i>
            </div>
            <div class="areachosedbox"><div class="areachosed_abs"></div></div>
            <h4>职位性质</h4>
            <div class="sitebar checkbar" id="jobTypebox">
            <!--input name="" type="checkbox" value=""><label>自由职业</label>
            <input name="" type="checkbox" value=""><label>全职</label>
            <input name="" type="checkbox" value=""><label>实习</label>
            <input name="" type="checkbox" value="" checked=""><label>兼职</label>-->
            </div>
            <h4>企业规模</h4>
            <div class="sitebar selbar" id="companyScalebox">
            <div class="clkarea"><input id="companyScale" readonly name="" type="text" value="不限"><i></i></div>
            <span class="option">
            <!--a href="javascript:;" data-shcode="0">不限</a>
            <a href="javascript:;" data-shcode="1">1-49人</a>
            <a href="javascript:;" data-shcode="2">50-99人</a>
            <a href="javascript:;" data-shcode="3">100-499人</a-->
            </span>
            </div>
            <h4>企业性质</h4>
            <div class="sitebar selbar" id="companyTypebox">
            <div class="clkarea"><input id="companyType" readonly name="" type="text" value="不限"><i></i></div>
            <span class="option">
            <!--a href="javascript:;" data-shcode="0">不限</a>
            <a href="javascript:;" data-shcode="1">外商独资/外企办事处</a>
            <a href="javascript:;" data-shcode="2">中外合营(合资/合作)</a>
            <a href="javascript:;" data-shcode="3">私营/民营企业</a>
            <a href="javascript:;" data-shcode="4">国有企业</a-->
            </span>
            </div>
            <div class="qk_btn"><a href="javascript:;">清空搜索条件</a></div>
        </div>
        
	</div>
</div>

<div style=" display:none" class="tk_dl">
<div class="loginbg"></div>
	<div class="tk_box areabox">
        <h3><i class="iconfont" id="tkcls">&#xe604;</i>请选择城市信息</h3>
        <div class="tk_main">
            <div class="areachosed">
            最多选择3项
            <div class="areachosed_abs2"><!--span class="areaitem">上海<i class="iconfont">&#xe604;</i></span--></div>
            <span class="err">最多只能选择3项</span>
            </div>
            <div class="sheng_tab"><a class="on" href="javascript:;" id="hotbox" style=" display:inline-block">全部</a><a class="" href="javascript:;" id="s_citybox">省</a></div>
            <div class="shenglist clearfix">
                <div class="hotbox">
                <h4>热门城市</h4>
                <ul class="hotcity">
                	<!--li><a data-code="010" href="javascript:;">北京</a></li><li><a data-code="020" href="javascript:;">上海</a></li><li><a data-code="050020" href="javascript:;">广州</a></li><li><a data-code="050090" href="javascript:;">深圳</a></li><li><a data-code="030" href="javascript:;">天津</a></li><li><a data-code="060080" href="javascript:;">苏州</a></li><li><a data-code="040" href="javascript:;">重庆</a></li><li><a data-code="060020" href="javascript:;">南京</a></li><li><a data-code="070020" href="javascript:;">杭州</a></li><li><a data-code="210040" href="javascript:;">大连</a></li><li><a data-code="280020" href="javascript:;">成都</a></li><li><a data-code="170020" href="javascript:;">武汉</a></li-->
                </ul>
                <h4>全部省份</h4>
                <ul class="shengbox clearfix">      
                    <!--li><a href="javascript:;" data-code="050" class="d-item">广东省<label>0</label></a></li>      
                    <li><a href="javascript:;" data-code="310" class="d-item">云南省<label>0</label></a></li-->      
                </ul>
                </div>
                <div class="s_citybox">
                	
                </div>
                 
            
            </div>
            <div class="tk_btn_box"><a class="tk_btn" href="javascript:">确 定</a></div>
        </div>
    </div>
</div>

<div include="../module/footer.html"></div>
</body>

<link rel="stylesheet" href="/css/login/tck.css">
<script src="../../js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/common/jquery.page.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/xzjy/joblist.js"></script>
<script src="../../js/xzjy/citylist.js"></script>
</html>
