<style type="text/css">
	.r-wrap .honor-txt-wrap{width: 72px;text-align: right;}
</style>
<div id="j_honor_wrap" class="item-wrap honor-wrap">
	<div class="clearfix header-wrap">
		<div class="f-l title-wrap">
			<i class="i-sprite i-honor"></i>
			<div class="item-txt">获得荣誉</div>
		</div>
		<div class="f-r"><i data-id="#j_honor_wrap" class="i-sprite i-add"></i></div>
	</div>
	<div class="detail-wrap active-detail-edit honor-detail-wrap">
		<table class="default-wrap">
			<thead><tr><th>所获奖项</th><th>获奖时间</th><th>培训机构</th><th></th></tr></thead>
			<tbody>
				<tr><td>英语</td><td>精通</td><td>精通</td><td><span class="mrg-r10 mrg-l20">编辑</span><span>删除</span></td></tr>
			</tbody>
		</table>
		<div class="edit-wrap">
			<ul>
				<li class="clearfix">
					<div class="mrg-r38 honor-txt-wrap f-l"><i class="i-sprite i-require"></i>获得奖项</div>
					<div class="f-l"><input type="text" class="input-default w228 mrg-r5"></div>
				</li>
				<li class="clearfix">
					<div class="mrg-r38 honor-txt-wrap f-l"><i class="i-sprite i-require"></i>获得时间</div>
					<div class="f-l"><input type="text" class="input-default w70 mrg-r5">年
						<input type="text" class="input-default w70 mrg-r5 mrg-l5">月</div>
				</li>
				<li class="clearfix">
					<div class="mrg-r38 honor-txt-wrap f-l"><i class="i-sprite i-require"></i>所在学校/单位</div>
					<div class="f-l"><input type="text" class="input-default w228 mrg-r5"></div>
				</li>
				<li class="clearfix">
					<div class="mrg-r38 honor-txt-wrap f-l">说明</div>
					<div class="f-l"><textarea class="textarea w545"></textarea></div>
				</li>
				<li class="clearfix">
					<div class="mrg-r38 honor-txt-wrap f-l h20"></div>
					<div class="f-l">
						<div class="clearfix mrg-t20 h34">
							<div class="f-l">
								<input type="button" class="but but-shadow but-animation w95" value="保存">
							</div>
							<div class="f-l">
								<input type="button" data-id="#j_honor_wrap" class="but but-cancel but-shadow but-animation mrg-l80 w95" value="取消">
							</div>
						</div>
					</div>
				</li>
			</ul>
			
		</div>
	</div>
</div>