@charset "utf-8";
body{background:url(../../img/login/passbg.png) center 0;}
.contentbox{ padding:295px 0 100px 0px;background:url(../../img/login/logo.png) center 140px no-repeat;}
.MainCenterCont{background:#FFF; width:618px; height:333px; overflow:hidden; margin:0 auto; box-shadow:1px 2px 6px #999; border:1px solid #a0a0a0; border-top:3px solid #ff9001; padding:80px 0 0 140px}
.steps { height:100px; position:relative;}
.input{ border:1px solid #cacaca; height:40px; font:14px/40px "微软雅黑"; width:292px; padding:0 3px;}
.input:hover{ border:1px solid #ff8f15; box-shadow:0px 0px 5px #ff8f15;}

/*chos*/
.chostype a{ width:192px; height:58px; line-height:58px; padding:0px 0 0 80px; font-size:20px; background-color:#ff9001; color:#FFF; display:block; margin:26px 0 60px 102px; border-radius:5px; position:relative}
.chostype a i{ background:url(../../img/login/pass1.png) no-repeat ; height:35px; width:35px;position:absolute; bottom:12px; left:27px;z-index:1000; display:block }
.chostype a.mailRegBtn{ background-color:#6ac1cc}
.chostype a.mailRegBtn i{  background:url(../../img/login/pass2.png) no-repeat ; }
.chostype a:hover{box-shadow:2px 2px 3px rgba(0,0,0,0.2);}
/*step1*/
.steps .steps1 {background:url(../../img/login/progress.png) center 0; height:40px; display:block;width:473px; }
.steps .step_wd{ float:left; width:232px; color:#909090; margin-left:-15px; margin-top:6px}
.pass_input,.optBtn{ padding-left:90px;}
.MainCenterCont li{ height:42px; padding-top:20px; position:relative; }
.MainCenterCont .input{ padding:0 20px; background-color:#FFF; width:260px}
.MainCenterCont .yzm input{ width:158px; padding:0 20px; vertical-align:middle; margin-right:10px}
.yzm img{ display:inline-block;  vertical-align:middle; margin:0 5px 0 0; }
#imgCC1,#imgCC2{ width:65px; height:38px}
.optBtn a{    background-color: #ff8f15;border-radius: 3px;color: #fff;display: block;font: 18px/40px "微软雅黑";height: 40px;margin:28px 0;text-align: center; width:300px}



.steps .steps2 {background:url(../../img/login/progress.png) center -40px; height:40px; display:block;width:473px; }
.pass_note{ text-align:center;width:473px; margin:10px 0 -10px 0;color:#909090; position:relative}
.pass_note i{background:url(../../img/login/pass3.png) ; height:20px; width:20px; position:absolute; left:55px; top:1px; display:block}
.pass_note a{ color:#62aeb8}

.steps .steps3 {background:url(../../img/login/progress.png) center -80px; height:40px; display:block;width:473px;}

.MainCenterCont .lerr{ display:none;font-weight: normal;left:317px;line-height: 24px;padding-right: 10px;position: absolute;top:29px; padding:0 7px; float:left; color:#f00}
.placeholder{ display:none; display:block\9; position:absolute; top:30px;left:17px; color:#999; font-size:14px}
.MainCenterCont .focus .input{ border-color:#db8a83}


.succ_wd{ line-height:37px; margin:29px 0 56px 135px;}
.succ_wd i{ height:37px; width:37px;background:url(../../img/login/succ.png); display:inline-block; vertical-align:middle; margin-right:10px}
.succ_wd a{ color:#ff9001}
