<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="qc:admins" content="3742272215633144221475636"/>
    <meta name="renderer" content="webkit">
    <title>极视大咖秀第一期_极视教育网</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/topbtn.css">
    <link rel="stylesheet" href="../../css/dk/dk.css">
    <style type="text/css">
        .content-wrap {
            min-height: 1000px;
        }
    </style>
</head>
<body>
<!--[if lt IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->
<div include="../../view/module/header.html"></div>
<div class="content-wrap">
    <div class="dk-main">
        <div class="dk-box" style="height: 0px; padding-top: 440px;"></div>
        <div class="content clearfix">
            <div class="border-box teacher-v1 clearfix">
                <div class="teacher-content f-l">
                    <div class="teacher-hd clearfix">
                        <a class="hd-left-wrap f-l" href="" target="_blank">
                            <img class="teacher-img" src="../../img/dk/name.jpg" width="180" height="180">
                        </a>

                        <div class="hd-right-wrap f-l">
                            <a class="teacher-name" title="单鑫（长腿欧巴）" target="_blank">单鑫（长腿欧巴）</a>
                            <a class="agency-name" title="神古网络创始人&CEO" target="_blank">神古网络创始人&CEO</a>
                            <a class="agency-name" title="极视教育游戏类课程金牌导师" target="_blank">极视教育游戏类课程金牌导师</a>
                        </div>
                    </div>
                    <p class="teacher-intro" title="">
                        从大学时代开始就专注于独立游戏制作，曾独立创作开发游戏《灵魂之门》
                        《失落之寒》、《巴别塔：抉择》。历史上首例独自一人参加微软创新杯，
                        并成功夺下两届游戏组冠军。毕业后创立独立游戏公司神古网络并出任CEO
                        公司首款商业作品《巴别塔：抉择》以历史上最短的时间通过Steam绿光计
                        划，并最终成功发布。游戏发布后，获得了一线游戏主播的争相直播报道，
                        其美术风格和音乐风格获得大量玩家好评。
                    </p>
                </div>
                <div class="video-content f-r">
                    <div class="video-player" style="margin-top: 30px;">
                        <video id="myVideo" width="100%" controls>
                            <source src="http://res.skillbridge.cn/video/dkx1.mp4" type="video/mp4" >
                        </video>
                        <div class="video-cover" style="background: url(../../img/dk/v.jpg)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="split"></div>
            <!-- 大咖风采 成就 -->
            <div class="dk-introduce border-box clearfix">
                <div class="dk-box-l f-l">
                    <div class="dk-mien">
                        <div class="dk-mien-tit"></div>
                        <div class="dk-mien-cnt">
                            <div id="home_slider" class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <div class="slide">
                                            <img src="../../img/dk/img4.jpg" alt="" />
                                            <div class="caption">
                                                <p class="title">微软创新杯2014中国区特等奖获奖留影</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide">
                                            <img src="../../img/dk/img1.jpg" alt="" />
                                            <div class="caption">
                                                <p class="title">百家合启动仪式-单鑫作为中国主机游戏开发者特邀嘉宾出席</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide">
                                            <img src="../../img/dk/img2.jpg" alt="" />
                                            <div class="caption">
                                                <p class="title">CSDN创始人为微软创新杯2013中国区一等奖获得者单鑫颁奖</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide">
                                            <img src="../../img/dk/img3.jpg" alt="" />
                                            <div class="caption">
                                                <p class="title">微软CEO萨提亚•纳德拉首次中国之行接见中国学生代表单鑫</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide">
                                            <img src="../../img/dk/img5.jpg" alt="" />
                                            <div class="caption">
                                                <p class="title">CGDA 2014 中国优秀游戏制作人大赛-最佳创意奖</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="dk-box-r f-r">
                    <div class="dk-success ">
                        <dl>
                            <dt>2013年</dt>
                            <dd> 微软创新杯2013中国区一等奖</dd>
                            <dt>2014年</dt>
                            <dd>微软创新杯2014中国区特等奖
                                第六届中国优秀游戏制作人（CGDA）最佳创意奖
                                Unity 游戏及应用大赛最佳创新创意奖
                                创办主机游戏公司——上海神古网络科技有限公司
                            </dd>
                            <dt>2014年</dt>
                            <dd>神古首款主机游戏《巴别塔：抉择》登陆Steam平台并获得微软Xbox平台全球合作权 &nbsp; 下载地址：<br/><a href="http://store.steampowered.com/app/430170/"  target="_blank" >http://store.steampowered.com/app/430170/</a>

                            </dd>
                        </dl>
                    </div>
                    <div class="dk-report ">
                        <div class="dk-report-content">
                            <ul type="box">
                                <li>
                                    <p>单鑫：Steam《巴别塔：抉择》复盘以及对中国主机游戏市场的探讨<br/><a href="http://mt.sohu.com/20160331/n442942701.shtml" target="_blank">http://mt.sohu.com/20160331/n442942701.shtml</a>
                                    </p>
                                </li>
                                <li>
                                    <p>创新杯人物志•第一辑|To Be A Better Man 关于成长<br/><a href="http://mp.weixin.qq.com/s?__biz=MzI3ODEwNjc0Nw==&mid=2653787932&idx=1&sn=5c3514a61c2d07fb2350ef22081bf9f0&scene=23&srcid=0518cpXorsDM9bgnVZHKiPu1#rd" target="_blank">
                                        http://mp.weixin.qq.com</a> </p>
                                </li>
                                <li>
                                    <p>【五四 号外】青年创业，恰风华正<br/><a href="http://mp.weixin.qq.com/s?__biz=MzIxMDE3NzU0Mw==&mid=2650858984&idx=1&sn=56ed3b28002fcff052a2a45c3506c97b&scene=23&srcid=0503VjT16QJGN0lXMjgWXGch#rd" target="_blank">
                                    http://mp.weixin.qq.com</a> </p>
                                </li>
                                <li>
                                    <p>Lost Cold“失落之寒”——创新杯历届优秀作品回顾<br/><a href="http://mp.weixin.qq.com/s?__biz=MjM5NTE3NDgyMg==&mid=203431169&idx=1&sn=422b695365f640cfa34fd245b8cea74f&scene=23&srcid=0526G7eNwoTomOulcnNsg3To#rd" target="_blank">
                                    http://mp.weixin.qq.com</a></p>
                                </li>
                                <li>
                                    <p>观点｜嗑梦想成<br/><a href="http://mp.weixin.qq.com/s?__biz=MjM5OTE2MzUwNA==&mid=202984726&idx=1&sn=03eefd269657345f7b1d233f4a3927f2&scene=23&srcid=0526EMyVLzbDjIhBNjNVo0vw#rd" target="_blank">
                                    http://mp.weixin.qq.com</a> </p>
                                </li>
                                <li>
                                    <p>创业邦专访：<br/><a href="http://www.cyzone.cn/a/20140814/261637.html" target="_blank">
                                    http://www.cyzone.cn/a/20140814/261637.html</a>  </p>
                                </li>
                                <li>
                                    <p>单鑫再闯微软“创新杯” 单枪挑下“游戏开发”特等奖 成功卫冕<br/><a href="http://www.scau.edu.cn/xw/201405/t20140502_123879.htm" target="_blank">
                                    http://www.scau.edu.cn/xw/201405/t20140502_123879.htm</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 大咖作品 成就 -->
            <div class="dk-photo">
                <div class="dk-photo-tit"></div>
                <div class="border-box imgcard-v1 clearfix imgcard-content recommend-wrap">
                    <div class="imgcard-content clearfix">
                        <div class="f-l imgcard-link imgcard-big imgcard-0 " >
                            <div class="imgcard-img-wrap">
                                <img class="imgcard" src="../../img/dk/1.jpg">
                            </div>
                        </div>
                        <div class="f-l imgcard-link imgcard-small  imgcard-1 " >
                            <div class="imgcard-img-wrap">
                                <img class="imgcard" src="../../img/dk/2.jpg">
                            </div>
                        </div>
                        <div class="f-l imgcard-link imgcard-small imgcard-2 ">
                            <div class="imgcard-img-wrap">
                                <img class="imgcard" src="../../img/dk/3.jpg">
                            </div>
                        </div>
                        <div class="f-l imgcard-link imgcard-small imgcard-1 ">
                            <div class="imgcard-img-wrap">
                                <img class="imgcard" src="../../img/dk/4.jpg">
                            </div>
                        </div>
                        <div class="f-l imgcard-link imgcard-small  imgcard-2 " >
                            <div class="imgcard-img-wrap">
                                <img class="imgcard" src="../../img/dk/5.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="imgcard-content clearfix">
                        <div class="f-l imgcard-link imgcard-small1  imgcard-1 " >
                            <div class="imgcard-img-wrap">
                                <img class="imgcard" src="../../img/dk/6.jpg">
                            </div>
                        </div>
                        <div class="f-l imgcard-link imgcard-small1 imgcard-1" >
                            <div class="imgcard-img-wrap">
                                <img class="imgcard" src="../../img/dk/7.jpg">
                            </div>
                        </div>
                        <div class="f-l imgcard-link imgcard-small  imgcard-1 ">
                            <div class="imgcard-img-wrap">
                                <img class="imgcard" src="../../img/dk/8.jpg">
                            </div>
                        </div>
                        <div class="f-l imgcard-link imgcard-small  imgcard-2 ">
                            <div class="imgcard-img-wrap">
                                <img class="imgcard" src="../../img/dk/9.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 大咖课程 成就 -->
            <div class="dk-course ">
                <div class="dk-course-tit"></div>
                <div class="course">
                    <div class="course-cnt clearfix">
                        <div class="course-left">
                            <a class="course-link" href="http://www.skillbridge.cn/view/lesson/lessonintro.html?courseid=09941d0ac5ba4fe488f8b2ac8cf99192" target="_black" title="">
                                <img class="course-img" src="../../img/dk/b1.jpg" width="507" height="383">
                            </a>
                        </div>
                        <div class="course-right">
                            <a href="http://www.skillbridge.cn/view/lesson/lessonintro.html?courseid=09941d0ac5ba4fe488f8b2ac8cf99192" class="course-title" target="_black" title="">独立游戏开发入门到精通</a>

                            <div class="dis-title">
                                <p class="dis-title-left">课程信息</p>
                                <ul class="dis-list">
                                    <li class="dis-item"><span class="dis-item-index">1</span>
                                        <span class="dis-item-des">课程系统化，从入门到精通</span>
                                    </li>
                                    <li class="dis-item"><span class="dis-item-index">2</span>
                                        <span class="dis-item-des">国内首个以实战为主，讲授独立游戏开发的全过程</span>
                                    </li>
                                    <li class="dis-item"><span class="dis-item-index">3</span>
                                        <span class="dis-item-des">紧跟时下热点，VR/AR全掌握</span>
                                    </li>
                                </ul>
                            </div>
                            <p class="course-info"><span class="course-price">免费</span> <span class="course-sep"></span>
                                <a href="http://www.sogoal.com/" class="course-agency-link" title="神谷网络" target="_blank">
                                    <span class="course-agency">神古网络</span></a>
                                <span class="course-sep"></span>
                                <span class="course-num">10000+人对这门课感兴趣</span>
                            </p>
                            <p class="course-btns">
                                <a href="http://www.skillbridge.cn/view/lesson/lessonintro.html?courseid=09941d0ac5ba4fe488f8b2ac8cf99192"
                                   class="course-btn course-get" target="_blank">查看详情</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 其他老师课程  -->
            <div class="dk-others-course ">
                <div class="dk-others-course-tit">
                </div>
                <div class="others-course clearfix">
                    <ul class="img-hover-bigger clearfix">
                        <li  class="kenchen-list-item f-l mrg-r33 ">
                            <a href="http://www.skillbridge.cn/view/lesson/lessonintro.html?courseid=727253f0c9a1451280926c445a77ec25" target="_blank">
                            <div class="kechen-img-wrap">
                                <i class="mianfei-i"></i>
                                <img class="" src="../../img/dk/img-1.jpg">
                            </div>
                                <div class="kechen-detail-wrap"><p class="name c333">Unity引擎的概述</p>
                                    <div class="detail f12-c666"><i class="i-time"></i>2小时<i class="i-chapter"></i>11课时</div>
                                </div>
                          <!--  <div class="kenchen-like-wrap f12-c666"><i class="i-like"></i>273人<span class="f-r mrg-r20">1279人已学习</span>
                            </div>-->
                            </a>
                        </li>
                        <li  class="kenchen-list-item f-l mrg-r33 ">
                            <a href="http://www.skillbridge.cn/view/lesson/lessonintro.html?courseid=22ef54150be64997a486941dd9bfac0f" target="_blank">
                            <div class="kechen-img-wrap">
                                <i class="mianfei-i"></i>
                                <img class="" src="../../img/dk/img-2.jpg">
                            </div>
                                <div class="kechen-detail-wrap"><p class="name c333">C与C++基础介绍</p>
                                    <div class="detail f12-c666"><i class="i-time"></i>3小时 53分钟 <i class="i-chapter"></i>12课时</div>
                                </div>
                          <!--  <div class="kenchen-like-wrap f12-c666"><i class="i-like"></i>273人<span class="f-r mrg-r20">1279人已学习</span>
                            </div>-->
                            </a>
                        </li>
                        <li  class="kenchen-list-item f-l mrg-r33 ">
                            <a href="http://www.skillbridge.cn/view/lesson/lessonintro.html?courseid=23b643ded0d84ed7b53353ba28c049f1" target="_blank">
                            <div class="kechen-img-wrap">
                                <i class="mianfei-i"></i>
                                <img class="" src="../../img/dk/img-3.jpg">
                            </div>
                                <div class="kechen-detail-wrap"><p class="name c333">3D MAX基础（一）</p>
                                    <div class="detail f12-c666"><i class="i-time"></i>4小时 52分钟 <i class="i-chapter"></i>16课时</div></div>
                           <!-- <div class="kenchen-like-wrap f12-c666"><i class="i-like"></i>273人<span class="f-r mrg-r20">1279人已学习</span>
                            </div>-->
                             </a>
                        </li>
                        <li  class="kenchen-list-item f-l ">
                            <a href="http://www.skillbridge.cn/view/lesson/lessonintro.html?courseid=c7b560bb3eb644a6848eef3a6ed6d576" target="_blank">
                            <div class="kechen-img-wrap">
                                <i class="mianfei-i"></i>
                                <img class="" src="../../img/dk/img-4.jpg">
                            </div>
                                <div class="kechen-detail-wrap"><p class="name c333">Photoshop初识与基本命令</p>
                                    <div class="detail f12-c666"><i class="i-time"></i>1小时 31分钟 <i class="i-chapter"></i>8课时</div></div>
                           <!-- <div class="kenchen-like-wrap f12-c666"><i class="i-like"></i>273人<span class="f-r mrg-r20">1279人已学习</span>
                            </div>-->
                             </a>
                        </li>
                    </ul>
                </div>
                <p class="course-btns">
                    <a href="http://www.skillbridge.cn/view/seek/course.html" class="course-btn course-get" target="_blank">查看更多课程</a>
                </p>
            </div>
        </div>

    </div>

</div>
<div include="../../view/module/footer.html"></div>
<script src="../../js/vendor/jquery-1.11.3.min.js"></script>
<script src="../../js/dk/jquery.flexslider-min.js"></script>
<script src="../../js/dk/scroll.js"></script>
<script src="../../js/main.js"></script>

<script type="text/javascript">
    $(function () {
        $('#home_slider').flexslider({
            animation : 'slide',
            controlNav : false,
            directionNav : true,
            animationLoop : true,
            slideshow : true,
            useCSS : false
        });
    $(".dk-report").easysroll({
        //默认配置参数
        direction: "top", //滚动方向 left（向左）right（向右） top(向上) bottom(向下) 默认left
        numberr: "1", //每一次滚动数量 默认是1
        delays:"1000",//完成一次动画所需时间 默认是1000等于1秒
        scrolling: "2000",//每一次动画的时间间隔 默认是1000等于1秒
        fadein:false,//是否支持淡入或淡出 默认false
        enterStop:true  //鼠标移入是否暂停滚动 默认是true
    })

        var myVideo=document.getElementById("myVideo");
        $("#video1 span").on('touchstart mousedown',function(){
            myVideo.loop=true;
            myVideo.load();
            myVideo.play();
            $(".video1").hide();
        });

        $(".video-cover").on("click", function () {
            myVideo.loop=true;
            myVideo.play();
            $(this).hide();
        });
    });

</script>

</body>
</html>