<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>选择支付方式</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../css/main.css">
	<link rel="stylesheet" href="../../css/vip/buy.css">
</head>
<body>
<div include="../module/header.html"></div>
<div class="warpper clearfix">
	<div class="stepbox step2"></div>
	<div class="membuybox">
    	<h4>订单信息</h4>
        
        <div class="buyinfo payinfo"><span class="ordno">编号：<i>132123554580</i></span>
           <table width="100%" border="0" class="courtable" cellspacing="0">
              <tr>
                <th width="13%">商品名称</th>
                <th width="28%">有效期</th>
                <th width="13%">单价（元）</th>
                <th width="13%">时长</th>
                <th width="20%">优惠（元）</th>
                <th width="13%">合计（元）</th>
              </tr>
              <tr class="proinfo">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>0元</td>
                <td><span class="yel">￥</span></td>
              </tr>
            </table>
			<div class="goback"><a href="memberbuy.html"><< 返回修改订单</a></div>
        </div>
        <p class="line"></p>
        <h4>选择支付方式</h4>
        <ul class="choslist">
        <li class=" on"><a class="zfb"  href="javascript:;"><i></i></a></li>
        <li><a class="wx"  href="javascript:;"><i></i></a></li>
        </ul>
        <div class="but-wrap"><a class="but but-preview but-shadow but-animation"  id="step2but" href="javascript:;">确认支付</a></div>
    </div>
</div>

<div class="tk_dl" id="tk_dl1" style="display:none">
    <div class="loginbg"></div>
    <div class="tk_box ">
        <h3>您选择了<i class="zfb"></i>付款</h3>
        <div class="tk_main">
        <h4>购买商品信息：</h4>
        <p class="line"></p>
        <dl class="buyinfo buyinfo2">
            <dt>名称：</dt><dd></dd>
            <dt>单价：</dt><dd></dd>
            <dt>时长：</dt><dd></dd>
            <dt style="display:none">优惠：</dt><dd>0元</dd>
            <dt>总计：</dt><dd>￥</dd>            
        </dl>
        <p class="red worn" style="display:none">未支付成功，请重新完成支付</p>
        <div class="tk_btn"><a href="javascript:" id="cancelbtn" class="on">付款失败</a><a href="javascript:" id="okbtn" class="">付款成功</a></div>
        </div>
    </div>
</div>
<div class="tk_dl" id="tk_dl2"   style="display:none">
    <div class="loginbg"></div>
    <div class="tk_box tdbox">
        <h3><i class="iconfont tkcls2">&#xe604;</i>您选择了<i class="wx"></i>付款</h3>
        <div class="tk_main">
        <h4>微信扫描支付：</h4>
        <p class="line"></p>
        <span class="ewm_pay"><img/></span>
        <div class="je_wx"><p>扫描二维码完成支付</p>
        金额：<i class="yel">￥<span class="wx_prc"></span></i></div>
        </div>
    </div>
</div>
<div include="../module/footer.html"></div>
</body>
<script src="../../js/vendor/jquery-1.9.0.min.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/vip/buy.js"></script>
<script>
var ordid=mainModule.getQueryValueByName('ordid'),ordno;
$(function() {
	
		$.ajax({
		type: "get",
		dataType: "json",
		url: $._CACHEOBJ.context+"/order/common/orderInfo",
		data:{"orderId":ordid},
		success: function (pl) {
            var htmlcmt = "",htmlbuy="";
            var item=pl.content;
           	item.productName=item.number+'个月会员';
			if(pl.status== "SUCCESS"){
				htmlcmt += '<td>' + pl.content.productName + '</td><td>购买后' + pl.content.number + '个月<br>（有效期至：<i class="yxq"></i>）</td><td>' + pl.content.price + '</td><td>' + pl.content.number + '个月</td><td>0元</td><td><span class="yel">￥' + pl.content.orderMoney + '</span></td>';
				ordno=pl.content.orderNo
				$(".ordno i").text(ordno)
				htmlbuy += '<dt>名称：</dt><dd>' + pl.content.productName + '</dd><dt>单价：</dt><dd>' + pl.content.price + '元/月</dd><dt>时长：</dt><dd>' + pl.content.number + '个月</dd><dt style="display:none">优惠：</dt><dd style="display:none">-4元</dd><dt>总计：</dt><dd>￥' + pl.content.orderMoney + '</dd>';
				$(".wx_prc").text(pl.content.orderMoney);
				$("#step2but").click(function(){
					var on=$(".choslist .on a")
					if(on.hasClass("zfb")){
					pay(ordno)	
					}
					if(on.hasClass("wx")){
					pay2(ordno);
					loopCheckIsPaid(ordid);
					}
				})
				$("#okbtn").click(function(){
					ptype(ordid);
				})
				dtime(pl.content.number);
				if(pl.content.number<13){
					var coo=pl.content.number
				}
				else if(pl.content.number==24){var coo=13}
				else if(pl.content.number==36){var coo=14}
				$(".goback a").attr("href","memberbuy.html?code="+coo)
			}
			else{
				if(pl.content!=null){alert(pl.content[0].message); }
		  		else{alert(pl.message); }
			}
			$(".proinfo").html(htmlcmt);
			$(".buyinfo2").html(htmlbuy);
		}
	})
	
});

function ptype(ordid){
	$.ajax({
		type: "get",
		dataType: "json",
		url: $._CACHEOBJ.context+"/order/common/orderInfo?rad="+Math.random()*1,
		data:{"orderId":ordid},
		success: function (pl) {
			if(pl.status== "SUCCESS"){
				var ordtype=pl.content.statue;
				if(ordtype==0){
					$(".worn").text("未支付成功，请重新完成支付").show();
				}
				else if(ordtype==1){
					$(".worn").hide();
					window.location.href="/view/vip/success_m.html?ordid="+ordid;
				}
				else if(ordtype==3){
					$(".worn").text("订单已取消").show();
				}
			}
			else{
				if(pl.content!=null){alert(pl.content[0].message); }
		  		else{alert(pl.message); }
			}
			
		}
	})
}
function pay(no){
	var payUrl;
	$.ajax({
		type: "get",
		dataType: "json",
		async:false,
		url: $._CACHEOBJ.context+"/order/common/alipay",
		data:{"orderNo":no},
		success: function (pl) {
			if(pl.status== "SUCCESS"){
				// openwin(pl.content);
				//window.location.href=pl.content;
				payUrl=pl.content;
			}
			else{
				if(pl.content!=null){alert(pl.content[0].message); }
		  		else{alert(pl.message); }
			}
		}
	});
	if(payUrl){
		window.open(payUrl,'_blank');
	}

}
function pay2(no){
	
			$(".ewm_pay img").attr("src",$._CACHEOBJ.context+"/order/common/weixinPay?orderNo="+no);
		

}
function dtime(i){
	$.ajax({
		type: "get",
		dataType: "json",
		url: $._CACHEOBJ.context+"/user/currentuser",
		success: function (result) {
			mainModule.log('我的个人信息接口返回',result);
			if(result.status== "SUCCESS"){
				var vipEndDate=result.content.vipEndDate||(Date.parse(new Date()));
				var isVip=result.content.vip;
				var date=new Date(vipEndDate||Date.now());
				if(i&&i<12){
					var month=date.getMonth()+i;
					date.setMonth(month);
				}else if(i){
					var y=i/12
					var year=date.getFullYear()+y;
					date.setYear(year);
				}
				var datetime=mainModule.formatFulldate(date).date;
				
				$(".yxq").text(datetime);
				//protime(datetime)
				$(".protime").text(datetime);
			}
			else{
				if(/未登录/.test(result.message)){
	            	mainModule.popLoginBox();
	        	}
			}
		}
	})
}
</script>

</html>
