<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>VIP介绍页面</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../css/main.css">
    <!-- <link rel="stylesheet" href="../../css/topbtn.css"> -->
	<link rel="stylesheet" href="../../css/vip/vipintro.css">
</head>
<body>
<div include="../module/header.html"></div>
<div class="banner">
</div>
<div class="vipinfo">
	<div class="warpper">
	<ul class="viplist">
        <!--<li class="mon1">
            <div class="vi_title"><span>月VIP</span><h3>￥68/<i>月</i></h3></div>
            <p>月VIP，适合需要短期内学 习某技能知识点的同学</p>
            <span class="hmday"><i></i>免费体验7天</span>
            <div class="fv">
            <span style="background-color:#6dc6d2">1、会员课程</span>
            <span>2、VIP社区</span>
            <span style="background-color:#6dc6d2">3、资料下载</span>
            <span>4、线下机构折扣</span>
            <span style="background-color:#6dc6d2"></span>
            
            </div>
            <a class="buy_btn" style="background-color:#5ba5af" href="#">立即购买</a>
        </li>
        <li class="year1">
            <div class="vi_title"><span>年VIP</span><h3>￥58/<i>月</i></h3></div>
            <p>年VIP，适合平时喜欢学 习各种技能的技术狂人</p>
            <span class="hmday"><i></i>免费体验7天</span>
            <div class="fv">
            <span style="background-color:#60aeb9">1、会员课程</span>
            <span>2、VIP社区</span>
            <span style="background-color:#60aeb9">3、资料下载</span>
            <span>4、线下机构折扣</span>
            <span style="background-color:#60aeb9"></span>
            </div>
            <a class="buy_btn" style="background-color:#4f919a" href="#">立即购买</a>
        </li>
        <li class="mon2">
            <div class="vi_title"><span>高级月VIP</span><h3>￥120/<i>月</i></h3></div>
            <p>高级月VIP，适合需要短期 内学习并专门辅导的同学</p>
            <span class="hmday"><i></i>免费体验7天</span>
            <div class="fv">
            <span style="background-color:#feac51">1、拥有普通VIP权限</span>
            <span>2、技术问答</span>
            <span style="background-color:#feac51">3、高清视屏下载</span>
            <span>4、职位优先系统推送</span>
            <span style="background-color:#feac51">5、参与极视教育特邀用户群</span>
            </div>
            <a class="buy_btn" style="background-color:#fd8f15" href="#">立即购买</a>
        </li>
        <li class="year2">
            <div class="vi_title"><span>高级年VIP</span><h3>￥88/<i>月</i></h3></div>
            <p>高级年VIP，适合“0基础” 小白，完整的职位养成计划</p>
            <span class="hmday"><i></i>免费体验7天</span>
            <div class="fv">
            <span style="background-color:#fb992e">1、拥有普通VIP权限</span>
            <span>2、技术问答</span>
            <span style="background-color:#fb992e">3、高清视屏下载</span>
            <span>4、职位优先系统推送</span>
            <span style="background-color:#fb992e">5、参与极视教育特邀用户群</span>
            </div>
            <a class="buy_btn" style="background-color:#ee820b" href="#">立即购买</a>
        </li>-->
    </ul>
	</div>
</div>
<div class="servcom">
	<div class="warpper">
	<h2>服务比较</h2>
    <dl>
    <dt><img src="../../img/vip/vcomp.png" width="1200"/></dt>
    <dd><span class="serv_wod">免费课程</span><span><img src="../../img/vip/vcompcio1.png"/></span><span><img src="../../img/vip/vcompcio1.png"/></span><span><img src="../../img/vip/vcompcio1.png"/></span></dd>
    <dd><span class="serv_wod">申请职位</span><span><img src="../../img/vip/vcompcio1.png"/></span><span><img src="../../img/vip/vcompcio1.png"/></span><span><img src="../../img/vip/vcompcio1.png"/></span></dd>
    <dd><span class="serv_wod">VIP课程</span><span><img src="../../img/vip/vcompcio2.png"/></span><span><img src="../../img/vip/vcompcio1.png"/></span><span><img src="../../img/vip/vcompcio1.png"/></span></dd>
    <dd><span class="serv_wod">资料下载</span><span><img src="../../img/vip/vcompcio2.png"/></span><span><img src="../../img/vip/vcompcio1.png"/></span><span><img src="../../img/vip/vcompcio1.png"/></span></dd>
    <dd><span class="serv_wod">技术问答</span><span><img src="../../img/vip/vcompcio2.png"/></span><span><img src="../../img/vip/vcompcio2.png"/></span><span><img src="../../img/vip/vcompcio1.png"/></span></dd>
    <dd style="display:none;"><span class="serv_wod">1对1“伴读书童”</span><span><img src="../../img/vip/vcompcio2.png"/></span><span><img src="../../img/vip/vcompcio2.png"/></span><span><img src="../../img/vip/vcompcio1.png"/></span></dd>
    </dl>
    </div>
</div>
<div class="menshow" style="display:none">
	<div class="warpper">
    <h2>讲师风采</h2>
    <span class="lft_arr"><i></i></span>
    <span class="rt_arr"><i></i></span>
    <div class="menshowbox">
    <ul class="menshow_ul">
    <!--<li>
    <img src="../../img/vip/menpic.jpg"/>
    <p>1参与极视教育特邀用户群参与极视教育特邀用户群参与极视教育特邀用户群参与极视教育特邀用户群参与极视教育特邀用户群参与极视教育特邀用户群参与极视教育特邀用户群参与极视教育特邀用户群</p>
    </li>
    <li>
    <img src="../../img/vip/menpic.jpg"/>
    <p>2Lorem ipsum dolor sit amet, consectetura
dipiscing elit. Aenean euismod bibendum
laoreet. Proin gravida dolor sit amet lacus 
accumsan et viverra justo commodo. Proi
n sodales pulvinar tempor. Cum sociis "</p>
    </li>
    <li>
    <img src="../../img/vip/menpic.jpg"/>
    <p>3Lorem ipsum dolor sit amet, consectetura
dipiscing elit. Aenean euismod bibendum
laoreet. Proin gravida dolor sit amet lacus 
accumsan et viverra justo commodo. Proi
n sodales pulvinar tempor. Cum sociis "</p>
    </li>
    <li>
    <img src="../../img/vip/menpic.jpg"/>
    <p>4Lorem ipsum dolor sit amet, consectetura
dipiscing elit. Aenean euismod bibendum
laoreet. Proin gravida dolor sit amet lacus 
accumsan et viverra justo commodo. Proi
n sodales pulvinar tempor. Cum sociis "</p>
    </li>
    <li>
    <img src="../../img/vip/menpic.jpg"/>
    <p>5Lorem ipsum dolor sit amet, consectetura
dipiscing elit. Aenean euismod bibendum
laoreet. Proin gravida dolor sit amet lacus 
accumsan et viverra justo commodo. Proi
n sodales pulvinar tempor. Cum sociis "</p>
    </li>
    <li>
    <img src="../../img/vip/menpic.jpg"/>
    <p>6Lorem ipsum dolor sit amet, consectetura
dipiscing elit. Aenean euismod bibendum
laoreet. Proin gravida dolor sit amet lacus 
accumsan et viverra justo commodo. Proi
n sodales pulvinar tempor. Cum sociis "</p>
    </li>
    <li>
    <img src="../../img/vip/menpic.jpg"/>
    <p>7Lorem ipsum dolor sit amet, consectetura
dipiscing elit. Aenean euismod bibendum
laoreet. Proin gravida dolor sit amet lacus 
accumsan et viverra justo commodo. Proi
n sodales pulvinar tempor. Cum sociis "</p>
    </li>
    <li>
    <img src="../../img/vip/menpic.jpg"/>
    <p>8Lorem ipsum dolor sit amet, consectetura
dipiscing elit. Aenean euismod bibendum
laoreet. Proin gravida dolor sit amet lacus 
accumsan et viverra justo commodo. Proi
n sodales pulvinar tempor. Cum sociis "</p>
    </li>
    <li>
    <img src="../../img/vip/menpic.jpg"/>
    <p>9Lorem ipsum dolor sit amet, consectetura
dipiscing elit. Aenean euismod bibendum
laoreet. Proin gravida dolor sit amet lacus 
accumsan et viverra justo commodo. Proi
n sodales pulvinar tempor. Cum sociis "</p>
    </li>-->
    </ul>
    
    </div>
    </div>
</div>
<div class="ptcom">
	<div class="warpper">
    <h2>平台比较</h2>
    <img src="../../img/vip/vcomppic.png"/>
    </div>
</div>

<div include="../module/footer.html"></div>
</body>
<script src="../../js/vendor/jquery-1.9.0.min.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/common/gd.js"></script>


</html>
