<!DOCTYPE html><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>机构入驻</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../css/main.css">
	
</head>
<body>
<div include="../module/header.html"></div>
<div class="topbanner topbanner_org">
	<div class="warpper">
	<i></i>
    </div>
</div>
<div class="formbox">
	<div class="warpper clearfix">
     <div class="infobox">
     <p>带<span class="yel">*</span>为必填项目</p>
     <ul>
     <li>
     <span class="info_l"><span class="yel">*</span>机构名称：</span>
     <span class="info_r"><input id="org_name" name="" type="text" placeholder="请输入机构名称"><span class="err err1">提示<i></i></span></span>
     
     </li>
     
     <li>
     <span class="info_l">机构性质：</span>
     <span class="info_r" id="org_type"><a class="radio on" href="###">个体</a><a class="radio" href="###">加盟</a><a class="radio" href="###">连锁</a></span>
     </li>
     
     <li>
     <span class="info_l">机构规模：</span>
     <span class="info_r"><input id="org_mennub" name="" type="text" placeholder="请输入公司人数"><span class="err err3">提示<i></i></span></span>
     </li>
     
     <li>
     <span class="info_l">成立时间：</span>
     <span class="info_r"><input id="org_time" name="" type="text"  placeholder="yyyy-MM-dd"><span class="err err4">提示<i></i></span></span>
     </li>
     
     <li>
     <span class="info_l">培训内容：</span>
     <span class="info_r"><input id="org_con" name="" type="text"  placeholder="机构主要培训内容"></span>
     </li>
     
     <li>
     <span class="info_l">专业数：</span>
     <span class="info_r"><input id="org_zynub" name="" type="text"  placeholder="请填写机构培训专业数"><span class="err err6">提示<i></i></span></span>
     </li>
     
     <li>
     <span class="info_l">公司邮箱：</span>
     <span class="info_r"><input id="org_mail" name="" type="text" placeholder="请输入公司邮箱"><span class="err err7">提示<i></i></span></span>
     </li>
     
     <li>
     <span class="info_l"><span class="yel">*</span>联系电话：</span>
     <span class="info_r"><input id="org_phone" name="" type="text" placeholder="请输入公司电话号码"><span class="err err8">提示<i></i></span></span>
     
     </li>
     
     <li>
     <span class="info_l">地址：</span>
     <span class="info_r"><input id="org_addr" name="" type="text" placeholder="请输入公司地址"></span>
     </li>
     
     <li>
     <span class="info_l"><span class="yel">*</span>代理人：</span>
     <span class="info_r"><input id="org_agency" name="" type="text" placeholder="请输入公司代理人"><span class="err err9">提示<i></i></span></span>
     
     </li>
     
     <li>
     <span class="info_l"><span class="yel">*</span>代理人电话：</span>
     <span class="info_r"><input id="org_agencyph" name="" type="text" placeholder="请输入公司代理人联系电话"><span class="err err10">提示<i></i></span></span>
     
     </li>
     
     <li style=" height:258px;">
     <span class="info_l">备注：</span>
     <span class="info_r"><textarea id="org_bz" name="" cols="" rows="" placeholder="请输入您的机构其他信息或合作意见"></textarea></span>
     </li>
     
     </ul>
     </div>   
     <div class="btnbox">
     <a id="org_join" href="#">机构入驻</a>
     </div>
	</div>
</div>
<div class="footbox">
	<div class="warpper">
	
    </div>
</div>
<div include="../module/footer.html"></div>
</body>
<script src="../../js/vendor/jquery-1.9.0.min.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/join/join.js"></script>

<link rel="stylesheet" href="../../css/join/join_form.css"> 

</html>
