<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>关于我们_极视教育网</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../css/main.css">
	<link rel="stylesheet" href="../../css/aboutus/aboutus.css">
</head>
<body>
<div include="../module/header.html"></div>
<div class="banner2">
	
</div>
<div class="knowus">
	<div class="warpper clearfix">
    	<h2>欢迎来到极视教育</h2>
        <div class="know_l">
            
            <div class="videobox">
            
            <!--embed src="../../video/skillbridge.mp4"  autostart="true" loop="true" width="566" height="320"></embed-->
            <video id="video_play" class="video" controls src="http://res.skillbridge.cn/video/skillbridge.mp4" poster="../../img/aboutus/fm1.jpg"></video>
            </div>
            
        </div>
        <div class="know_r">
            <div class="know_wd">
            <p>       极视教育是由上海极视文化传播股份有限公司创立，专注于职业培训与发展的在线
教育平台。平台致力于构建“学习+实战+机遇”三元结构闭环的模式，携手企业与名师一
起帮助有职业培训需求的人才，并为企业提供人才储备的解决方案。<br>
   我们的优势：  
</p>
           <ul>
            <li><i></i><span>海量自学课程</span> — 源于极视智库（涵盖各领域大量专家教授以及企业高管，如郎咸平教授），提供海量线上教学课程，并根据职业学院构建完善的课程体系。</li>
            <li><i></i><span>视频互动技术</span> — 视频云泡、内置百科、卡牌收集以及抽奖点评等功能让学习这件事变得从未如此便捷与有趣。</li>
            <li><i></i><span>线上学习管理</span> — 线上互动学习管理系统（Online Interactive Learning Management System，简称O-ILMS系统），直连学生与老师，构建线上一对一, 一对多的新一代深入互动
教学体验。</li>
			<li><i></i><span>模拟实战项目</span> — 线上真实项目模拟实战系统（Online Real Project Virtual Practice System，简称O-RPVPS系统），通过企业线上发布任务、老师线上指导帮助学生完成模拟实战
的方式提升学员对所学技能的实际操作能力，融会贯通。 
            </li>
            <li><i></i><span>急聘结合才储</span>  — 急聘板块精准提供合作企业急聘的岗位，覆盖各大热门领域，才储更提供了学生与企业深入互动的机会，在毕业前就获得企业青睐。
            </li>
            
            </ul>
            </div>
        </div>
        
	</div>
</div>
<div class="weneed">
	<div class="warpper clearfix">
		<h2>我们需要 </h2>
        <ul>
         <li>
        	<i></i>
            <h4>优秀老师</h4>
            <p>如果你现在或以前从事过职业培训，具有丰富的行业实战和教学经验，期望将您的经验与心得传播到世界各地，欢迎加入我们的队伍！
</p>
         </li>
         <li>
        	<i class="ic2"></i>
            <h4>培训机构</h4>
            <p>如果贵机构期望将优质的职业课程传播给需要知识技能的每一位学生，具备丰富的办学经验，成熟的教学团队，我们欢迎你的加入。
</p>
         </li>
         <li>
        	<i class="ic3"></i>
            <h4>企业雇主</h4>
            <p>如果贵司可以提供给求职者就业实习的机会，拥有良好的企业文化，积极的工作氛围，愿意接纳年轻人，欢迎一起合作。
</p>
         </li>
         <li style="margin:0">
        	<i class="ic4"></i>
            <h4>优秀人才</h4>
            <p>如果你不甘平庸喜欢各种挑战，同时拥有良好的责任感和能力，愿意在高度自由的工作环境下发挥自己的才能，还等什么？来吧！</p>
         </li>
     	</ul>          
         <div class="btnbox">
         <a href="/view/aboutus/connectus.html" >联系我们</a>
         </div>
    </div>
</div>
<div class="circ">
	<div class="warpper clearfix">
		<h2>公司环境 </h2>
        <ul>
         <li>
        	<img  src="../../img/aboutus/abt2.jpg"  alt="" width="269">
         </li>
		 <li>
        	<img  src="../../img/aboutus/abt3.jpg"  alt="" width="269">
         </li>        
		 <li>
        	<img  src="../../img/aboutus/abt4.jpg"  alt="" width="269">
         </li>        
         <li style="margin:0">
        	<img  src="../../img/aboutus/abt5.jpg"  alt="" width="269">
         </li>
     	</ul>          
        
    </div>
</div>

<div include="../module/footer.html"></div>
</body>
<script src="../../js/vendor/jquery-1.9.0.min.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/aboutus/aboutus.js"></script>


</html>
