<!DOCTYPE html><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>联系我们_极视教育网</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../css/main.css">
	<link rel="stylesheet" href="../../css/aboutus/aboutusN.css">
	<link rel="stylesheet" href="../../css/aboutus/aboutusN1.css">

</head>
<body>
<div class="content">
<div class="banner">
	<a class="logo" href="/"></a>
	<h1>关于我们</h1>
    <p>极视教育是由上海极视文化传播股份有限公司创立，国内第一家专注于游戏职业培训的在线教育平台。我们致力于构建“学习+实战+机遇”三元结构闭环的模式，携手知名游戏企业与一线资深讲师共同帮助学员实现游戏设计开发的梦想，并为企业提供人才储备的解决方案。</p>
	<div class="btnbox">
     <a href="connectusN.html">联系我们</a>
     </div>
     <div class="cnttype">
     	<a href="javascript:" id="wx">
            <i><img src="../../img/aboutus/ewmwx.png"/></i></a>
         <a href="javascript:" id="qq"><i>
             <img src="../../img/aboutus/ewmqq.png"/></i>
         </a>
     </div>
</div>
<div class="cntway">	
 	<h2>关于我们<span></span></h2>
    <div class="about-cnt-box">
        <h4>愿景与使命</h4>
        <div class="yjsm clearfix border-box">
            <div class="yjsm-box border-box">
                <h5>我们的愿景</h5>
                <p>帮助有职业培训需求的人实现职业发展目标，并为企业提供人才储备的解决方案。</p>
            </div>
            <div class="yjsm-box border-box">
                <h5>我们的使命</h5>
                <p>致力于在线职业教育领域，以解决职业发展问题为己任，运用互联网和大数据技术为用户提供个性化学习路径、高品质课程教材、实战以及工作机会。让用户以最低的成本、最短的时间完成职业学习。</p>
            </div>

        </div>
    </div>
    <div class="about-cnt-box">
        <h4>我们的特色</h4>
        <div class="wmts clearfix">
            <img src="../../img/aboutus/wmts.png">
        </div>
    </div>
    <div class="about-cnt-box">
        <div class="split"></div>
        <div class="teamjy clearfix">
            <div class="teamjy-cnt border-box">
                <i class="dh"></i>
                <p>为什么做在线职业教育这个又慢又累的行业呢？我们觉得全国的教育资源分布不均匀，一线城市和三四线城市相差太大。未来等我们强大了，我们将会去贫困山区搭建网络，让那里的孩子也能接受到职业教育，帮助他们改变人生轨迹。</p>
                <span>------团队寄语</span>
            </div>
            <div class="teamjy-img border-box">
                <img src="../../img/aboutus/img1.jpg">
            </div>
        </div>
    </div>
    <div class="about-cnt-box">
        <h4>我们的团队</h4>
        <div class="teams-lb clearfix">
            <div id="focus_Box">
                <span class="prev"></span>
                <span class="next"></span>
                <ul>
                    <li><img src="../../img/aboutus/1.jpg" /></li>
                    <li><img src="../../img/aboutus/2.jpg" /></li>
                    <li><img src="../../img/aboutus/3.jpg" /></li>
                    <li><img src="../../img/aboutus/4.jpg" /></li>
                    <li><img src="../../img/aboutus/3.jpg" /></li>
                </ul>
            </div>

        </div>
        <!--<section id="banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../img/aboutus/1.jpg" /></div>
                <div class="swiper-slide"><img src="../../img/aboutus/2.jpg" /></div>
                <div class="swiper-slide"><img src="../../img/aboutus/3.jpg" /></div>
                <div class="swiper-slide"><img src="../../img/aboutus/4.jpg" /></div>
            </div>
            <div class="pagination"></div>
        </section>-->
    </div>

</div>
</div>

</body>


<script src="../../js/aboutus/ZoomPic.js"></script>
</html>
