
<div class="footer">
	<div class="warpper">
        <a href="/view/aboutus/aboutusN.html" target="_blank">关于我们</a>|
        <a href="/view/aboutus/connectusN.html" target="_blank">联系我们</a>|
        <a href="/view/join/tea_join.html" target="_blank">老师入驻</a>|
       <!-- <a href="" target="_blank">帮助中心</a>|-->
        <a href="/view/info/serv_info.html?id=6" target="_blank">意见反馈</a>|
        <a href="/view/info/serv_info.html?id=1" target="_blank">服务条款</a>|
        <a href="/view/info/serv_info.html?id=4" target="_blank">免责条款</a>|
        <a href="/view/info/serv_info.html?id=5" target="_blank">版权说明</a>
    </div>
    <div class="copyright">Copyright ©2014-2016 宁波极视文化科技有限公司版权所有 - 浙ICP备15043692号-1
        <p class="lx-tel">联系电话：0574-63906301</p>
        <p class="lx-tel">由上海极视文化科技有限公司全权运营</p>

    </div>
</div>

<ul id="goTop" class="mod-sidebar dis_none">
<li class="item gotop button-rotate" data-text="返回顶部" style="display: list-item;">
<a id="gotop_btn" onclick="window.scroll(0, 0);$('#goTop').fadeOut();">返回顶部</a>
</li>
<li class="item feedback button-rotate" id="feedbackbtn" data-text="用户反馈">
<a target="_blank" href="/view/info/serv_info.html?id=6">意见反馈</a>
</li>
<li id="j_slider_qrcode" class="item qr-code button-rotate" data-text="二维码">
<a href="javascript:;">公众账号</a>
</li>
<li class="qr-code-container dis_none clearfix">
    <p class="title">扫描二维码</p>
    <p>关注极视教育微信公众号</p>
    <div class="img-wrap"><img src="/img/index/foo_QR.jpg"></div>
</li>

</ul>
<!-- 送VIP活动 -->
<style type="text/css">
.vip-activity-wrap{position: fixed;top: 30%;right: 20px;z-index: 111;}
.vip-activity-wrap .relative-wrap{position: relative;}
.vip-activity-wrap .relative-wrap ul{position: absolute;top: 130px;left: 32px;line-height: 40px;}
.vip-activity-wrap .relative-wrap ul li:hover a{color: #ff9001;}
.vip-activity-wrap .relative-wrap ul li:hover .i-r-arrow{background-position: 4px -2px;}
.vip-activity-wrap .relative-wrap ul a{color: #fff;}
.vip-activity-wrap .relative-wrap ul a.close{width: 56px;height: 20px;display: inline-block;}
.vip-activity-wrap .i-r-arrow{background: url('/img/activity/icon.png') no-repeat;background-position: -18px -2px;display: inline-block;width: 12px;height: 12px;}
</style>
<div class="vip-activity-wrap " style="display: none">
    <div class="relative-wrap">
        <div class="img-wrap"><img src="/img/activity/vip.png"></div>
        <ul>
            <li><a target="_blank" href="/view/invite/index.html">好友募集</a><i class="i-r-arrow"></i></li>
            <li><a href="/view/info/index.html?type=0">完善资料</a><i class="i-r-arrow"></i></li>
            <li><a href="/view/wdjl/edit.html">填写简历</a><i class="i-r-arrow"></i></li>
            <li><a class="close" onclick="$('.vip-activity-wrap').hide()" href="javascript:;"></a></li>
        </ul>
    </div>
</div>
<div class="login_dl" style=" display:none"><div include="/view/login/login.html"></div></div>
<div class="register_dl" style=" display:none"><div include="/view/login/register.html"></div></div>
<div include="/view/login/thlogin.html"></div>