<div class="container-two">
    <div class="content-wrapper">
        <div>
            <ul id="j_kechen_indus_wrap" class="kechen-wrap clearfix">
                <li class="j_kechen_item kechen-item bl9 f-l active" >
                    <i class="kechen-i kechen-all-i"></i>
                    全部
                </li>
 <!--                <li class="j_kechen_item kechen-item f-l " data-type="it">
                    <i class="kechen-i kechen-it-i"></i>
                    IT/互联网
                </li>
                <li class="j_kechen_item kechen-item f-l" data-type="jr">
                    <i class="kechen-i kechen-jr-i"></i>
                    金融／财会
                </li>
                <li class="j_kechen_item kechen-item f-l" data-type="ys">
                    <i class="kechen-i kechen-ys-i"></i>
                    影视动漫
                </li>
                <li class="j_kechen_item kechen-item f-l" data-type="zc">
                    <i class="kechen-i kechen-zc-i"></i>
                    职场能力
                </li> -->

            </ul>
            <div>
                <ul id="j_kechen_fenglei_list_wrap" class="kechen-fenglei-list">
                    <li id="j_indus_fl_wrap" class="mrg-b50 clearfix">
                       <!--  <span class="title fenglei-name-wrap">行业：</span>
                        <span class="fenglei-name-wrap fenglei-option active">全部</span> -->
                       <!--  <span class="fenglei-name-wrap fenglei-option">it互联网</span><span class="fenglei-name-wrap fenglei-option">金融会计</span> -->
                    </li>
                    <li id="j_dir_fl_wrap" class="mrg-b50 clearfix"><span class="title fenglei-name-wrap">方向：</span><span class="fenglei-name-wrap fenglei-option active">全部</span><!-- <span class="fenglei-name-wrap fenglei-option">移动互联网</span><span class="fenglei-name-wrap fenglei-option">pc互联网</span> --></li>
                    <li id="j_skill_fl_wrap" class="clearfix"><span class="title fenglei-name-wrap">分类：</span><span class="fenglei-name-wrap fenglei-option active">全部</span><!-- <span class="fenglei-name-wrap fenglei-option">ios</span><span class="fenglei-name-wrap fenglei-option">android</span> --></li>

                </ul>
            </div>
            <div class="kechen-list-container">
                <ul id="j_kechen_list_wrap" class="clearfix img-hover-bigger">
                    <!-- <li class="kenchen-list-item f-l mrg-r33">
                        <div class="kechen-img-wrap"><i class="icon-i fufei-i"></i><img class="kechen-img" src="/img/index/101.jpg"></div>
                        <div class="kechen-detail-wrap">
                            <p class="name c333">ios 开发</p>
                            <div class="detail f12-c666"><i class="icon-i i-time"></i>12小时<i class="icon-i i-chapter"></i>10章节</div>
                        </div>
                        <div class="kenchen-like-wrap f12-c666">
                            <i class="icon-i i-like"></i>23438人
                            <span class="f-r mrg-r20">23232332学习</span>
                        </div>
                    </li>
                    <li class="kenchen-list-item f-l mrg-r33">
                        <div class="kechen-img-wrap"><i class="fufei-i"></i><img class="kechen-img" src="/img/index/101.jpg"></div>
                        <div class="kechen-detail-wrap">
                            <p class="name c333">ios 开发</p>
                            <div class="detail f12-c666"><i class="i-time"></i>12小时<i class="i-chapter"></i>10章节</div>
                        </div>
                        <div class="kenchen-like-wrap f12-c666">
                            <i class="i-like"></i>
                            <span class="f-r mrg-r20">23232332学习</span>
                        </div>
                    </li>
                    <li class="kenchen-list-item f-l mrg-r33">
                        <div class="kechen-img-wrap"><i class="fufei-i"></i><img class="kechen-img" src="/img/index/101.jpg"></div>
                        <div class="kechen-detail-wrap">
                            <p class="name c333">ios 开发</p>
                            <div class="detail f12-c666"><i class="i-time"></i>12小时<i class="i-chapter"></i>10章节</div>
                        </div>
                        <div class="kenchen-like-wrap f12-c666">
                            <i class="i-like"></i>
                            <span class="f-r mrg-r20">23232332学习</span>
                        </div>
                    </li>
                    <li class="kenchen-list-item f-l">
                        <div class="kechen-img-wrap"><i class="fufei-i"></i><img class="kechen-img" src="/img/index/101.jpg"></div>
                        <div class="kechen-detail-wrap">
                            <p class="name c333">ios 开发</p>
                            <div class="detail f12-c666"><i class="i-time"></i>12小时<i class="i-chapter"></i>10章节</div>
                        </div>
                        <div class="kenchen-like-wrap f12-c666">
                            <i class="i-like"></i>
                            <span class="f-r mrg-r20">23232332学习</span>
                        </div>
                    </li> -->
                </ul>

            </div>
            <div id="j_kechen_page_control" class="page-control page-wrap">
                <!-- <a href="view/more.html">查看更多</a> -->
            </div>
        </div>
    </div>
</div>