<!DOCTYPE html><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>帮助中心_极视教育网</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/info/help.css">
</head>
<body>
<div include="../module/header.html"></div>

<div class="infobar warpper clearfix">        
    <div class="left-wrap">
        <ul class="menu-wrap">
            <li id="zytp" class="on id1">职业学院</li>
            <li id="vipxg" class="id2" >VIP相关</li>
            <li id="kcwt" class="id3">课程问题</li>
            <li id="zftk" class="id4">支付退款</li>
        </ul>
    </div>  
    <div class="right-wrap">
    	<div class="zytp">
            <h3 class="zytp_title"><i></i>职业学院</h3>
            <div class="info_content">
                <ul>
                    <li class="active">
                        <h4 class="title-wrap"><i class="i-icon i-sub"></i>1、职业学院课程是免费的吗？</h4>
                        <div class="box-info">
                            职业学院的课程视频是由免费或VIP会员课程组成的，课程不另外收费，但学习配套相关服务是收费的，具体根据班级而定，请留意相关图谱页面。
                        </div>
                    </li>
                    <li class="default">
                        <h4 class="title-wrap"><i class="i-icon i-add"></i>2、职业学院课程有学习期限吗？</h4>
                        <div class="box-info">
                            购买实战班以后，是有学习期限的，因此需在相应期限内完成学习并提交作业。期限后，课程视频仍可正常观看，但不再享受作业批改，答疑等服务。
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="vipxg" style="display:none">
            <h3 class="yjfk_title"><i></i>VIP相关</h3>
            <div class="info_content">
                <ul>
                    <li class="active">
                        <h4 class="title-wrap"><i class="i-icon i-sub"></i>VIP会员享有哪些特权？</h4>
                        <div class="box-info">
                            VIP会员是极视教育为用户推出的专属身份，享有普通注册用户不具备的特权：
                            1）购买职业学院课程享受优惠
                            2）观看VIP会员课程
                            3）下载课程资料包
                            4）技术问答

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="kcwt" style="display:none">
            <h3 class="kcwt_title"><i></i>课程问题</h3>
            <div class="info_content">
                <ul>
                    <li class="active">
                        <h4 class="title-wrap"><i class="i-icon i-sub"></i>1、课程是免费的吗？</h4>
                        <div class="box-info">
                            针对不同阶段的用户极视教育设计了不同的课程体系和相关课程，力求最大程度的符合不同阶段用户的学习需求。极视教育的课程目前主要分为以下三类：
                            1）免费会员课程：所有注册用户均可学习。
                            2）VIP会员课程：只有购买了VIP权限的用户才可以进行学习。
                            3）付费课程：需要单独购买才可以观看。

                        </div>
                    </li>
                    <li class="default">
                        <h4 class="title-wrap"><i class="i-icon i-add"></i>2、我可以同时选择多门课程吗？</h4>
                        <div class="box-info">
                            可以。任何人都可以同时报读多门课程。

                        </div>
                    </li>
                    <li class="default">
                        <h4 class="title-wrap"><i class="i-icon i-add"></i>3、如何开始学习？</h4>
                        <div class="box-info">
                            首先，您需要报名该课程，点击课程详情页中的开始学习即可报名该课程，然后就可以开始学习啦！

                        </div>
                    </li>
                    <li class="default">
                        <h4 class="title-wrap"><i class="i-icon i-add"></i>4、我可以报读一门已经开课的课程吗？</h4>
                        <div class="box-info">
                            课程可以随时报读，随到随学。

                        </div>
                    </li>
                </ul>
                   
            </div>
        </div>
        <div class="zftk" style="display:none">
            <h3 class="zftk_title"><i></i>支付退款</h3>
            <div class="info_content">
                <ul>
                    <li class="active">
                        <h4 class="title-wrap"><i class="i-icon i-sub"></i>1、成功购买课程后，能退款吗?</h4>
                        <div class="box-info">
                            支付购买成功后，暂不接受退款申请，请同学们详细查看课程介绍,选择适合自己的课程进行购买。详情可阅读<a href="/view/info/serv_info.html?id=7">《极视教育服务条款》</a>。
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fkwm">
            没有你要的答案，请<a href="/view/info/serv_info.html?id=6">反馈我们</a>
        </div>
    </div>
</div>


<div include="../module/footer.html"></div>
</body>
<script src="../../js/vendor/jquery-1.9.0.min.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/info/help.js"></script>



</html>
