<!DOCTYPE html><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>我的课程_极视教育网</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../css/main.css">
	<link rel="stylesheet" href="../../css/info/mycourse.css">
    <style type="text/css">
    .c-name{display: inline-block;max-width: 236px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;vertical-align: middle;}
    </style>
</head>
<body>
<div include="../module/header.html"></div>

<div include="../module/info-banner.html"></div>
<div class="infobar warpper clearfix">  	
    <div class="left-wrap">
    	<h4><i></i>学习中心</h4>     
        <ul class="menu-wrap">
            <a href="/view/info/mycourse.html"><li id="fwtk" class="on id1"> 我的课程</li></a>
            <a href="/view/info/job_map.html"><li id="cjwt" class="id2">我的职业</li></a>          
        </ul>
        <span class="menuicon"></span>
    </div>
    <div class="right-wrap">
    	<div class="fwtk">
            <h3 class="fwtk_title">课程</h3>
            <div class="info_content">
                <div class="infotab"><a id="learning" class="on">正在学习</a><a id="mycollect">我的收藏</a></div>
                <div>
                <div class="learning">
                <ul class="clist">
                	<!--li><a class="nowlesimg" href="#"><img src="../../img/dk/img-4.jpg"></a>
                    <a class="nowlesname" href="#">3dsMax建模精品课程</a>
                    <span class="les_jd">更新至：课程10 &nbsp;&nbsp;&nbsp;&nbsp; 学习进度：<i class="yel">20%</i></span>
                    学至：<a class="" href="#">课时3 模型建造综合案例......</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    下一个课时： <a class="" href="#">模型建造...</a><br>
                    <a class="les_bj" href="#">笔记 2</a>
                    <i class="iconfont tkcls">&#xe604;</i>
                    </li-->
                    
                </ul>
                <div class="pagination page-control"></div>
             	</div>
                <div class="mycollect" style="display:none">
                <ul class="clist">
                	<!--li><a class="nowlesimg" href="#"><img src="../../img/dk/img-4.jpg"></a>
                    <div class="mycol_info"><a class="nowlesname mar_t_10" href="#">3dsMax建模精品课程</a>
                    <span class="les_jd">更新至：课程10</span>
                    <div class="lesson-info">
                        <span class="free">免费</span>
                        <span class="">
                            <i class="renshu-icon"></i> <em>8000</em>
                        </span>
                        <span class="">初级</span>
                    </div>
                    </div>
                    <i class="iconfont tkcls">&#xe604;</i>
                    </li-->                    
                </ul>
                <div class="pagination2 page-control"></div>
             	</div>               
                </div>
            </div>
        </div>        
        <div class="cjwt" style="display:none">
            <h3 class="cjwt_title"><i></i>职业学院</h3>
            <div class="info_content">
                <h4>职业学院：</h4>
                登陆/注册新用户 → 输入信息 → 提交信息 → 注册成功！<br><br>
                1、是否支持第三方登陆？<br><br>
                支持，目前支持QQ账号、eoe账号登陆。<br><br>               
            </div>
        </div>
        <div class="wdbj" style="display:none">
            <h5><a href="javascript:;" class="fwtktb">课程</a> / 笔记</h5>
        	<h3 class="wdbj_title"></h3>
            <div class="info_content">
            	<!--span class="classhour">课时</span>
                <div class="classhourtitle"><i>1</i>iOS开发—使用Xcode和模拟开发 </div>
                <div class="bjinfo clearfix">
                <ul>
                	<li><i class="icon"></i>
                    <div class="bjinfo_title">2016/01/07<i class="iconfont">&#xe604;</i><i class="bebig"></i></div>
                    <div class="bjinfo_word">iOS开发首先需要学习OC或Swift基础，然后了...iOS开发首先需要学习OC或者
                    Swift基础，然后了...iOS开发首先需要学习OC或者 </div>
					<span class="bjinfo_time">12:12</span>
                    </li>
                    <li><i class="icon"></i>
                    <div class="bjinfo_title">2016/01/07<i class="iconfont">&#xe604;</i><i class="bebig"></i></div>
                    <div class="bjinfo_word">iOS开发首先需要学习OC或Swift基础，然后了...iOS开发首先需要学习OC或者
                    Swift基础，然后了...iOS开发首先需要学习OC或者 </div>
					<span class="bjinfo_time">12:12</span>
                    </li>
                    <li><i class="icon"></i>
                    <div class="bjinfo_title">2016/01/07<i class="iconfont">&#xe604;</i><i class="bebig"></i></div>
                    <div class="bjinfo_word">iOS开发首先需要学习OC或Swift基础，然后了...iOS开发首先需要学习OC或者
                    Swift基础，然后了...iOS开发首先需要学习OC或者 </div>
					<span class="bjinfo_time">12:12</span>
                    </li>
                    <li><i class="icon"></i>
                    <div class="bjinfo_title">2016/01/07<i class="iconfont">&#xe604;</i><i class="bebig"></i></div>
                    <div class="bjinfo_word">iOS开发首先需要学习OC或Swift基础，然后了...iOS开发首先需要学习OC或者
                    Swift基础，然后了...iOS开发首先需要学习OC或者 </div>
					<span class="bjinfo_time">12:12</span>
                    </li>
                    <li><i class="icon"></i>
                    <div class="bjinfo_title">2016/01/07<i class="iconfont">&#xe604;</i><i class="bebig"></i></div>
                    <div class="bjinfo_word">iOS开发首先需要学习OC或Swift基础，然后了...iOS开发首先需要学习OC或者
                    Swift基础，然后了...iOS开发首先需要学习OC或者 </div>
					<span class="bjinfo_time">12:12</span>
                    </li>
                    <li><i class="icon"></i>
                    <div class="bjinfo_title">2016/01/07<i class="iconfont">&#xe604;</i><i class="bebig"></i></div>
                    <div class="bjinfo_word">iOS开发首先需要学习OC或Swift基础，然后了...iOS开发首先需要学习OC或者
                    Swift基础，然后了...iOS开发首先需要学习OC或者 </div>
					<span class="bjinfo_time">12:12</span>
                    </li>
                </ul>
                </div>
                <div class="classhourtitle"><i>2</i> iOS开发—使用Xcode和模拟开发 </div>
                <div class="bjinfo clearfix">
                <ul>
                	<li><i class="icon"></i>
                    <div class="bjinfo_title">2016/01/07<i class="iconfont">&#xe604;</i><i class="bebig"></i></div>
                    <div class="bjinfo_word">iOS开发首先需要学习OC或Swift基础，然后了...iOS开发首先需要学习OC或者
                    Swift基础，然后了...iOS开发首先需要学习OC或者 </div>
					<span class="bjinfo_time">12:12</span>
                    </li>
                    <li><i class="icon"></i>
                    <div class="bjinfo_title">2016/01/07<i class="iconfont">&#xe604;</i><i class="bebig"></i></div>
                    <div class="bjinfo_word">iOS开发首先需要学习OC或Swift基础，然后了...iOS开发首先需要学习OC或者
                    Swift基础，然后了...iOS开发首先需要学习OC或者 </div>
					<span class="bjinfo_time">12:12</span>
                    </li>
                    <li><i class="icon"></i>
                    <div class="bjinfo_title">2016/01/07<i class="iconfont">&#xe604;</i><i class="bebig"></i></div>
                    <div class="bjinfo_word">iOS开发首先需要学习OC或Swift基础，然后了...iOS开发首先需要学习OC或者
                    Swift基础，然后了...iOS开发首先需要学习OC或者 </div>
					<span class="bjinfo_time">12:12</span>
                    </li>
                </ul>
                </div>
                <div class="classhourtitle"><i>5</i> iOS开发—使用Xcode和模拟开发 </div>
                <div class="bjinfo clearfix">
                <ul>
                	<li><i class="icon"></i>
                    <div class="bjinfo_title">2016/01/07<i class="iconfont">&#xe604;</i><i class="bebig"></i></div>
                    <div class="bjinfo_word">iOS开发首先需要学习OC或Swift基础，然后了...iOS开发首先需要学习OC或者
                    Swift基础，然后了...iOS开发首先需要学习OC或者 </div>
					<span class="bjinfo_time">12:12</span>
                    </li>                    
                </ul>
                </div>
                <div class="classhourtitle"><i>9</i> iOS开发—使用Xcode和模拟开发 </div>
                <div class="bjinfo clearfix">
                <ul>
                	<li><i class="icon"></i>
                    <div class="bjinfo_title">2016/01/07<i class="iconfont">&#xe604;</i><i class="bebig"></i></div>
                    <div class="bjinfo_word">iOS开发首先需要学习OC或Swift基础，然后了...iOS开发首先需要学习OC或者
                    Swift基础，然后了...iOS开发首先需要学习OC或者 </div>
					<span class="bjinfo_time">12:12</span>
                    </li>                    
                </ul>
                </div-->
            </div>
        </div>
    </div>
</div>
<div class="tk_dl" id="tk_dl1" style="display:none">
    <div class="loginbg"></div>
    <div class="tk_box tdbox">    	
        <h3>提示</h3>
        <div class="tk_main">
        <h4><i></i>确定放弃学习？</h4>
        <p>放弃学习将删除该课程所有相关数据</p>
        <div class="tk_btn"><a href="javascript:" class="courbtn but-sure">确定</a><a href="javascript:" id="j_popupCancel" class="but-false">取消</a></div>
        </div>
    </div>
</div>

<div class="tk_dl" id="tk_dl2" style="display:none">
    <div class="loginbg"></div>
    <div class="tk_box tdbox">    	
        <h3><span class="bjdata"></span><i class="iconfont tkcls2">&#xe604;</i><i class="edit"></i><a class="bjtime" href="" target="_blank">12:12</a></h3>
        <div class="tk_main">
        <p></p>
		<textarea style="display:none; resize:none" ></textarea>
        <div class="tk_btn" style="display:none"><a id="" href="javascript:" class="courbtn editbtn">保存</a></div>
        </div>
    </div>
</div>

<div include="../module/footer.html"></div>
</body>
<script src="../../js/vendor/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/common/jquery.page.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/info/mycourse.js"></script>


</html>
