<!DOCTYPE html><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>服务条款</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../css/main.css">
	
</head>
<body>
<div include="../module/header.html"></div>

<div class="infobar warpper clearfix">        
    <div class="left-wrap">
        <ul class="menu-wrap">
            <li id="yjfk" class="id6">意见反馈</li>
            <li id="fwxy" class="id7">服务协议</li>
            <li id="fwtk" class="on id1">服务条款</li>
            <li id="cjwt" class="id2" style="display:none">常见问题</li>
            <li id="jfgz" class="id3" style="display:none">积分规则</li>
            <li id="mztk" class="id4">免责条款</li>
            <li id="bqsm" class="id5" style="border-bottom:0;">版权说明</li>
        </ul>
    </div>  
    <div class="right-wrap">
    	<div class="fwtk">
            <h3 class="fwtk_title"><i></i>服务条款</h3>
            <div class="info_content">
                <h4>极视教育用户服务条款</h4>
                欢迎您使用极视教育（以下亦称“本网站”）的相关服务！极视教育是主要依靠网络技术，向您在线提供在线学习与移动学习服务的平台。在使
    用极视教育的相关服务前，请您务必审慎阅读、充分理解本《用户协议》（以下简称“本协议”）中各条款内容，并按照页面上的操作规则完成
    全部的注册程序。<br>
    <br>
    一、注册协议条款的确认和接受<br>
    <br>
    1、极视教育的各项网络服务的所有权、运作权、运营权，以及网站内容的著作权、复制传播权等归极视教育所有。本网站提供的服务将完全按照
    其发布的服务条款和操作规则执行。同意接受本协议的全部条款的, 申请人应当按照页面上的提示完成全部的注册程序, 并在注册程序过程中点击
    “同意”按钮, 否则视为不接受本协议全部条款, 申请人应当终止并退出申请。<br>
    <br>
    2、本协议可由极视教育定期更新, 更新后的协议条款一旦公布即代替原来的协议条款, 不再另行通知。在本网站修改协议条款后, 如果用户不接受
    修改后的条款, 请立即停止使用本网站提供的网络服务, 继续使用的用户将被视为已接受修改后的协议。
    <br><br>
    二、用户使用规则<br>
    <br>
    特别提示，用户使用互联网必须遵守国家有关的政策和法律，包括刑法、国家安全法、保密法、计算机信息系统安全保护条例等，保护国家利益
    ，保护国家安全，对于违法使用互联网络而引起的一切责任，由用户负全部责任。<br><br>
    
    1、用户在注册时应按照注册提示提供准确的用户名、密码及真实姓名、联系邮箱、手机号码等所要求的个人资料，并及时更新个人注册信息，
    用户输入的所有个人信息将被视作用户的准确身份信息。<br><br>
    
    2、经网站注册系统完成注册程序并通过身份认证的用户即为注册用户。注册用户在支付课程或会员费用并经极视教育确认后，有权享受相应的服
    务，具体服务的期限及使用方式以本网站的公告及相应课程的产品说明为准。<br><br>
    
    3、注册用户购买相应服务后，在任何情况下，不予进行退款或者延期处理。<br><br>
    
    4、用户将对用户帐号和密码安全负全部责任，每个用户都要对以其用户名进行的所有活动和事件负全部法律责任。用户可随时根据网站提示修改
    您的密码。用户若发现任何非法使用用户帐号或存在安全漏洞的情况，请立即通知本网站。<br><br>
    
    5、用户帐号独占使用权仅属于初始申请注册人。为避免因帐号问题产生纠纷, 用户不应私下将其转让、出售或出借予他人使用, 若用户授权他人使
    用账户，应对被授权人在该账户下发生的所有行为负全部责任。 <br>
    <br>
    6、用户帐号在丢失、遗忘密码及因合用产生使用权归属纠纷后, 须遵照本网站的申诉途径请求找回帐号，用户可以凭初始注册资料向本网站申请
    找回帐号。<br><br>
    
    7、注册用户对其在本网站上下载的所有课程及资料仅享有使用权，非经本网站许可，不得自行将课程及资料的全部或部分进行复制、修改、改编
    、出版、翻译、据以创作衍生作品、传播等侵犯本网站知识产权的活动，因此造成极视教育或任何第三方损失的，由用户承担全部责任。<br><br>
    
    三、免责声明<br><br>
    
    1、用户理解并确认，极视教育需要定期或不定期地对平台及相关的设备进行检修或者维护，如因此类情况而造成服务在合理时间内的中断，本网
    站无需为此承担任何责任。<br><br>
    
    2、极视教育对不可抗力导致的损失不承担责任。本协议条款所指不可抗力包括：天灾、法律法规或政府指令的变更，因网络服务特性而特有的原
    因，例如境内外基础电信运营商的故障、计算机或互联网相关技术缺陷、互联网覆盖范围限制、计算机病毒、黑客攻击等因素，及其他合法范围
    内的不能预见、不能避免并不能克服的客观情况。<br><br>
    
    3、用户因被他人冒名申请而致的任何损失, 本网站不承担任何责任；用户丢失账号而致的任何损失，本网站亦不承担任何责任。
    <br><br>
    四、隐私保护<br><br>
    
    极视教育严格履行用户个人隐私保密义务，承诺不公开、编辑或透露用户个人信息，但以下情况除外：<br><br>
    
    1）经用户同意，向第三方披露；<br><br>
    
    2）根据法律的有关规定，或者行政、司法机构的要求，向第三方或者行政、司法机构披露；<br><br>
    
    3）如果用户出现违反中国有关法律或者网站政策的情况，需要向第三方披露；<br><br>
    
    4）为用户提供所要求的产品和服务，而必须和第三方分享用户的个人信息。<br><br>
    
    五、知识产权<br><br>
    
    极视教育提供的视频课件服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护，未经相关
    权利人同意，上述资料均不得用于任何商业或非商业目的。您承诺不自行通过任何形式与途径传播前述内容。<br><br>
    
    六、法律适用<br><br>
    
    本协议的订立、生效、解释、执行、管辖、争议的解决均适用中华人民共和国法律（不含冲突法）。若用户和本网站之间发生任何纠纷或争议，
    首先应友好协商解决，协商不成的，用户同意将纠纷或争议提交本网站住所地有管辖权的人民法院管辖。<br><br>
    
     七、其他<br><br>
    
    1、 本协议自用户于本网站注册之日起生效。<br><br>
    
    2、 本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对双方具有约束力。<br><br>
    
    3、 上述条款的解释权在法律允许的范围内归极视教育所有。<br><br><br>
    
    
            </div>
        </div>
        <div class="yjfk" style="display:none">
            <h3 class="yjfk_title"><i></i>意见反馈</h3>
            <div class="info_content">
            	<form id="uploadForm" target="ajaxifr" method="post" enctype="multipart/form-data" action="/skillbridge-customer/user/feedback">
            	<div class="yjfk_li">
                 <span class="info_l"><span class="yel">*</span>标题</span>
                 <span class="info_r"><input id="yj_title" name="subject" type="text" placeholder="6~20字"><span class="err err1">提示</span></span>
                 </div>
                 
                 <div class="yjfk_li" style=" height:278px;">
                 <span class="info_l"><span class="yel">*</span>内容</span>
                 <span class="info_r"><textarea id="yj_main"  name="detail" cols="" rows="" placeholder="请填写具体内容帮助我们了解您的意见和建议"></textarea><span class="err err2">提示</span></span>
                 </div>
                 <div id="addimg_wrap" class="addimgw">
                    <i class="i-icon i-addimg"></i>添加图片
                    <input id="up_feedback" class="img-jy-upload" type="file" onchange="uploadjyFile(this)" accept="image/gif, image/jpeg, image/png, image/bmp" name="file"><span class="err err4" style="top:0">提示</span>
                 </div>
                 <div class="yjfk_li"><span class="info_l"><span class="yel">*</span>联系方式</span><span class="info_r"><input id="yj_tel" name="contact" type="text" placeholder="手机/QQ/Email"><span class="err err3">提示</span></span></div>
                 <span id="j_jy_resmsg" class="jyfk-res-msg c4c"></span>
             <input  id="j_feedback_add_btn" class="yjfk_btn" type="button" value="提交">
             </form>
            </div>
            <iframe style="display: none;" name="ajaxifr"></iframe>
        </div>
        <div class="cjwt" style="display:none">
            <h3 class="cjwt_title"><i></i>常见问题</h3>
            <div class="info_content">
                <h4>登录注册相关：</h4>               

登陆/注册新用户 → 输入信息 → 提交信息 → 注册成功！<br><br>
1、是否支持第三方登陆？<br><br>
支持，目前支持QQ账号、eoe账号登陆。<br><br>
2、注册之后，邮箱还可以修改吗？<br><br>
激活前可以修改邮箱，激活后则不可以。<br><br>
3、密码、邮箱、账号都忘记了，该怎么办？<br><br>
可点击网站页面右下角有客服标志与客服人员联系。
   <h4> VIP相关：</h4>

选择月/年会员 → 点击购买 → 支付 → 购买成功！<br><br>


1、如何成为VIP会员？<br><br>

注册登录后，点击右上角“成为VIP“，选择会员类型，然后支付即可。<br><br>

2、课程是否可以试听？如何获取权限？<br><br>

可以，激活邮箱可以获取一天VIP体验时间，验证手机可获得两天VIP会员体验时间。<br><br>

3、加入的VIP会员是否可以观看全部视频？<br><br>

加入VIP会员后，无论是月费会员还是年费会员，均可以观看所有视频课程。<br><br>

4、成为VIP会员后，视频是否可以全部下载？<br><br>

年费VIP可下载全部视频课程，月费VIP暂不提供此服务。<br><br>

5、月、年费的VIP时间都是怎么计算的？<br><br>

自购买之日起一月/年时间为VIP会员有限期。<br><br>

6、月费VIP是否可以升级为年费VIP？如何操作？<br><br>

可以，购买年VIP后原来月VIP权限会直接升级为年VIP权限。<br><br><br>
    
            </div>
        </div>
        <div class="jfgz" style="display:none">
            <h3 class="jfgz_title"><i></i>积分规则</h3>
            <div class="info_content">
                <h4>积分系统：</h4>
                积分系统是极视教育为极视教育平台用户设计的可以兑换奖励的类游戏系统，用户可以在使用极视教育平台旗下产品的过程中获得。
    <h4>积分用途：</h4>
    积分可以在极视教育学习平台上兑换付费会员与其他极视产品
    <h4>获得积分：</h4>
    积分可以通过以下方式获得<br>
1. 完成日常任务<br>
2. 获得平台成就<br><br><br>

    
            </div>
        </div>
        <div class="mztk" style="display:none">
            <h3 class="mztk_title"><i></i>免责条款</h3>
            <div class="info_content">
                <h4>极视教育免责声明：</h4>

本网站禁止一切冒充极视教育，通过网络、电话、QQ等手段进行传播并从中骗取钱财，进行诈骗活动，严重侵害广大用户合法权益的行为。本网
站提醒您注意保护个人的合法权益，如您发现上述行为，请及时与极视教育联系，避免造成不必要的损失。

同时，对于不法单位及个人假冒极视教育提供在线教育服务的行为和（或）其他行为一概与极视教育无关，一经发现将立即上报监管部门，并保
留依法追究法律责任的权利。<br><br>


特此声明！<br><br>

极视教育<br>
2015年11月30日<br><br><br>
    
    
            </div>
        </div>
        <div class="bqsm" style="display:none">
            <h3 class="bqsm_title"><i></i>版权说明</h3>
            <div class="info_content">
                <h4>极视教育版权声明</h4>
                极视教育拥有本平台网站内所有信息内容（除本平台会员发布的信息外，包括但不限于文字、图片、软件、音频、视频, 但除了由第三方提
供的版权作品）的版权。<br><br>

任何经本网站协议授权下载使用属于本网站信息内容时，都不得用于商业目的，且所有信息内容及其任何部分的使用都必须按照下列版权声
明： <br><br>

本平台所有的产品、信息内容、技术与所有程序均属于极视教育的知识产权。极视教育及本平台上的所有产品、服务名称及相关图形、标识
等为极视教育的商标及版权作品。未经极视教育书面许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载
、下载）使用。否则，极视教育将依法追究法律责任。<br><br>

转载或引用本网站内容必须是以新闻性或资料性公共免费信息为使用目的的合理、善意引用，不得对本网内容原意进行曲解、修改，同时必
须保留本网站注明的“稿件来源：极视教育”，并自负版权等法律责任。<br><br>
特此声明！<br><br>

极视教育<br>
2015年11月30日<br><br><br>
    
    
            </div>
        </div>
        <div class="fwxy" style="display:none">
            <h3 class="fwxy_title"><i></i>服务协议</h3>
            <div class="info_content">
                <h4>第一条 总则</h4>
                欢迎使用极视教育，为保障用户权益，请用户在付费之前，详细阅读此服务协议（以下简称“本协议”）所有内容。当用户点选“【我已经阅读并同意《用户付费协议》】”，即表示用户同意并承诺遵守本协议。
                收费服务是指极视教育网站有偿提供给用户的视频、文字、图片、答疑、辅导等内容及服务。<br><br>
                极视教育已经发布的或将来可能发布的各类规则,均为本协议不可分割的组成部分，与协议正文具有同等法律效力。<br><br>
                <h4>第二条 用户规则</h4>
                用户对以其帐号发生的或通过其帐号发生的一切活动和事件（包括但不限于用户发表的任何内容以及由此产生的任何结果）负全部法律责任。<br><br>
                1、用户从极视教育有偿获得视频内容或服务时，用户需先登录或注册极视教育帐号，或通过页面提示选用其他可用帐号进行登录。用户在使用极视教育服务时登录的帐号是确认您身份的唯一依据。<br><br>
                2、用户理解并同意：极视教育提供有偿内容或服务实行先付款后使用的方式，用户及时、足额、合法的支付所需的款项，是您使用极视教育有偿内容或服务的前提。<br><br>
                3、用户理解并同意：极视教育发布的收费内容服务将采用整体购买的方式，即用户只需购买一次，就可以学习该内容所有已发布或即将发布的课时。已购买的视频内容，用户可以在有效期内重复观看使用，无需再次付费。如需添加更多增值服务将适当性收取费用（如云容器使用期限）。购买收费服务后，用户有权利不接受极视教育的收费服务，但不获得服务费的退还。<br><br>
                4、用户知悉并同意：用户无权对已购买的内容进行修改、出租、租赁、出借、出售、分发、复制、创作衍生品。若用户违反本条规定，极视教育有权视情况采取如下措施：<br><br>
                4.1取消用户继续使用该视频内容的权利；<br><br>
                4.2 限制/冻结用户的帐号；<br><br>
                4.3 要求用户退还其通过出售、转让、许可等其他方式取得的收益；<br><br>
                4.4其他可以采取的补救措施。<br><br>
                5、用户了解并同意：极视教育可能不定期的对收费内容进行更新（包括但不限于：更新视频内容、改进服务安排）而无需经过用户的事先同意。<br><br>
                6、支付宝、微信是用户支付款项的支付平台。用户可以通过极视教育支付页面提示，选用支付平台账号支付，并承担交易所产生的法律后果。<br><br>
                7、用户应保管好自己的帐号和密码（包括但不限于：极视教育帐号密码、支付平台账号密码），如因用户未保管好自己的帐号和密码而对自己、对极视教育造成损害的，用户将负全部责任。另外，用户应对用户帐号中的所有活动和事件负全责。用户同意：若发现有非法使用用户的帐号或出现安全漏洞的情况，立即通告极视教育，极视教育将会尽力予以妥善解决。<br><br>
                <h4> 第三条 本协议的修订</h4>
                极视教育有权对本协议进行调整或补充，除非另有明确规定，极视教育所推出的新功能和新服务，均无条件的适用本协议。<br><br>
                <h4>第四条 其他约定</h4>
                1、所有权及知识产权：极视教育上服务中包含的任何文字、图表、音频、视频（包括但不限于图表、动画、音频、视频、界面、数据和程序、代码、文档）等信息或材料均受著作权法、商标法和/或其它法律法规的保护。非经极视教育书面同意用户不得擅自使用、修改、复制、传播、改变、散布、发行或发表上述内容。如有违反，用户同意承担由此给极视教育造成的一切损失。<br><br>
                2、用户在极视教育学习中所产生的评论、答疑、讨论，代码，个人作品（包括但不限于代码，图片，数据等），极视教育均有权在极视教育及相关宣传媒体/品进行展示，并无须支付任何费用。<br><br>
                3、本协议适用中华人民共和国的法律。当本协议的任何内容与中华人民共和国法律相抵触时，应当以法律规定为准，同时相关内容将按法律规定进行修改或重新解释，而本协议其他部分的法律效力不变。<br><br>
                4、本协议自发布之日起实施，并构成用户和极视教育之间的共识。<br><br>
                5、极视教育不行使、未能及时行使或者未充分行使本协议或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响极视教育在将来行使该权利。<br><br>
                6、如果您对本协议内容有任何意见或疑问，请给我们的客服邮箱发邮件：[<a style="color: #ff9001" href="mailto:op@skillbridge.cn">op@skillbridge.cn</a>]。<br><br>
            </div>
        </div>
    </div>
</div>


<div include="../module/footer.html"></div>
</body>
<script src="../../js/vendor/jquery-1.9.0.min.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/info/info_tk.js"></script>
<link rel="stylesheet" href="../../css/info/info_tk.css">

</html>
