<!DOCTYPE html><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>开始你的游戏设计开发之旅吧</title>
	<meta name="description" content="极视教育网正在送30天VIP，平时68RMB的会员现在免费，可以观看各种独立游戏设计开发课程。福利时间有限，赶脚不告诉你们，我的良心会收到谴责">
    <meta name="keywords" content="极视教育,职业教育,在线教育平台,在线教育,在线学习,职业培训,android,ios,Unity3D,java,Photoshop,Maya,3D MAX,独立游戏">
	<meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="/js/common/device.check.js"></script>
	<link rel="stylesheet" href="../../css/main.css">
	<link rel="stylesheet" href="../../css/invite/success.css">
</head>
<body>
<div class="banner">
    <div class="warpper">
    	<a class="logo" href="#"><img src="../../img/invite/succ3.png"></a>
    	<div class="succbox">
        	<i class="vip"></i>
            <h1>注册成功！30天VIP已存入您的账户</h1>
            <h2>继续参与极视教育——<span>“好友募集令”</span>活动<br>每成功邀请1位好友，您都能再获得30天VIP!</h2>
            <p>立刻进入<a href="/">极视教育</a>，开始学习吧！</p>
            <div class="butt">
            <a href="index.html">立即邀请好友</a>
            </div>  
        </div>
        <span class="word">＊注：活动最终解释权归极视教育所有。严禁通过违规方式获取VIP，否则收回所有权限。</span>
        
    </div>
</div>
<div class="fx1">
	
</div>

</body>
<script src="../../js/vendor/jquery-1.9.0.min.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/gb.js"></script>
<script src="../../js/invite/share.js"></script>

</html>
